[2020-03-27 12:36] danielpacak opened #23 "Implement the `rbac` subcommand"
Starboard is Kubernetes-native security application which stores vulnerability reports as custom security resources. To create such resources and risk scanners certain RBAC permissions are required.

Instead of listing all required roles in README  or YAML, I thought that we may provide the command, which is supposed to be run by cluster admins, to grant permission to a given subject:

[code]

[2020-03-31 12:02] danielpacak opened #22 "Add subcommand to fetch vulnerability reports"
Instead of using label selectors, which are implementation specific, we could provide a subcommand to fetching vulnerability reports for a given workload:

Background:

[code]

Before:

[code]

After:

[code]

/cc @jerbia @lizrice

[2020-03-31 12:21] danielpacak opened #21 "Revisit verbs used in the CLI"
The currently used `find` verb is not intuitive for everyone. What's more it can be confusing:

[code]

Let's think about sth else. These are some other ideas to consider:

[code]

/cc @jerbia @lizrice @itaysk

[2020-04-07 10:53] danielpacak opened #20 "Handle Kubernetes cluster config errors"
Similarly to the `kubectl` command, we should display a nice message when there's a problem reading cluster config files:

[code]

[2020-05-14 08:23] danielpacak opened #8 "Submit starboard CLI to krew-index"
Submit the `starboard` cli executables to [krew-index](https://github.com/kubernetes-sigs/krew-index) so we can install it with [krew](https://krew.sigs.k8s.io/):

[code]

[2020-05-18 10:40] danielpacak opened #17 "Implement history for vulnerabilities reports"
The latest report should be labeled with `starboard.history.latest`
The history limit should be set at the `starboard.history.limit` annotation

[2020-05-22 09:04] danielpacak opened #18 "Include links for tool-specific policy details"
As a user, I might use Starboard tools to learn whether workloads are compliant or not compliant with policies. Those policies are enforced by third-party tools. Starboard CRDs could include a field for a link for discovering further details that can be populated by the third-party tool (or an adapter for it). For example, if an image doesn't meet an Aqua image policy, the vulnerability CRD for th

[2020-05-22 09:08] danielpacak opened #19 "Namespaced CRDs"
As a developer I may have access to only one k8s namespace for my project. I should be able to query security CRDs related to that namespace.

As an admin I have access to multiple k8s namespaces. I should be able to query security CRDs across all of them.

[2020-05-22 10:39] lizrice opened #24 "Docs: getting started needs installation instructions"
Help users get out of the gate fast by showing them how to install as well as how to run Starboard

[2020-05-22 20:50] danielpacak opened #26 "Set ownerReference for vulnerabilities resource"
By design vulnerabilities are associated with native Kubernetes workloads such as Deployments or Stateful Sets via labels and label selectors. To leverage Kubernetes Garbage Collection we can set the ownerReference for each vulnerabilities resource when we create it.

[2020-05-25 10:41] #22 closed, assigned to danielpacak

[2020-05-26 10:23] danielpacak opened #29 "Run Polaris for the specified workload"
**Describe the problem/challenge you have**

Currently, we're running [Polaris] audit subcommand to scans all workloads in the cluster.

[code]

**Describe the solution you'd like**

However, we should be able to scan a single workload like we do for vulnerabilities:

[code]

**Anything else you would like to add:**

- This is mainly required for multi tenant environments and workloads protected b

[2020-05-27 11:33] #24 closed, assigned to nobody

[2020-05-27 12:12] danielpacak opened #30 "Move majority of Abstract, Rationale, and Use Cases section to a blog post"

[2020-05-27 12:14] danielpacak opened #31 "Update Contributing guides"
We should explain how to
- configure dev env
- run unit and integration tests
- fork repo and open pull requests
- use descriptive commit messages
- squash commits
- rebase PR branches
- add unit tests for new functionality

To some extent we have it described in https://github.com/aquasecurity/starboard/blob/master/HACKING.md

I don't want to copy & paste, but this one can inspire you https://git

[2020-05-28 09:38] danielpacak opened #33 "Upgrade Polaris to 1.0"
**Describe the problem/challenge you have**

Currently we pinned [Polaris] image to `quay.io/fairwinds/polaris:cfc0d213cd603793d8e36eecfb0def1579a34997` and we're running `polaris audit --log-level error` command as a Kubernetes Job to check all workloads and create [`configauditreports`](https://github.com/aquasecurity/starboard/blob/master/kube/crd/configauditreports-crd.yaml) resources (see an

[2020-05-29 14:00] danielpacak opened #36 "Draft Custom Security Resources Specification"

[2020-06-01 13:54] lizrice commented on #30
fixed by #34

[2020-06-01 13:54] #30 closed

[2020-06-01 21:26] jimangel opened #39 "Call out what components work in air-gapped environments."
I assume something like Trivy needs ability to pull latest CVE DB info, but it would be great to know what does (or doesn't) work in air-gapped clusters.

Going further, there might be some additional config / docs needed for those types of environments.

[2020-06-02 00:09] BarryWilliams opened #40 "error: no Auth Provider found for name "gcp""
When I run `starboard init` alone or with `kubectl` I get this error:
[code]

Here is the users section of my kube config
[code]

Note: getting basic API objects with `kubectl` works.

[code]

[2020-06-02 10:52] #40 closed

[2020-06-02 11:07] danielpacak commented on #40
Hi @BarryWilliams Thank you for trying out Starboard CLI and opening this issue. It's been resolved in [v0.1.1](https://github.com/aquasecurity/starboard/releases/tag/v0.1.1) by loading client-go auth plugins for GKE and other cloud providers.

[2020-06-02 19:59] xxradar opened #42 "error message following install guide"
$ starboard find vulnerabilities deployment/nginx --namespace dev -v 3
I0602 19:53:04.523020   20733 scanner.go:55] Getting Pod template for workload: Deployment/nginx
I0602 19:53:04.538831   20733 runnable_job.go:45] Creating runnable job: starboard/f46f480a-ac61-4a7e-891a-29bb21fddc3b
I0602 19:53:04.549248   20733 reflector.go:150] Starting reflector *v1.Job (30m0s) from pkg/mod/k8s.io/client-go

[2020-06-03 09:06] danielpacak opened #43 "403 API rate limit exceeded when running starboard find vulnerabilities command"
Trivy downloads `trivy.db` file from GtiHub release page which is subject to rate limit. Beyond that we do not cache the DB file.

2020-06-03T08:45:29.803Z INFO Need to update DB
2020-06-03T08:45:29.803Z INFO Downloading DB...
2020-06-03T08:45:29.962Z FATAL failed to download vulnerability DB: failed to download vulnerability DB: failed to list releases: GET https://api.github.com/repos/aquasecuri

[2020-06-03 09:36] danielpacak opened #45 "Run kube-bench on all cluster nodes"
Currently the kube-bench job is only scheduled on a single worker node. However, we should run it for all nodes. What's more we should tell kube-bench to run different checks on master and worker nodes respectively <sup>[1]</sup> .

[1]: https://github.com/aquasecurity/kube-bench#running-in-a-kubernetes-cluster

[2020-06-03 09:42] danielpacak commented on #42
Thank you for reporting this issue @xxradar Around the same time we've release new version of Trivy 0.9.0 which doesn't seem to work with Starboard. I'll see what has changed in JSON output between the two releases but in the meantime the fix would be to pin to Trivy 0.8.0 when we run the scanner.

[2020-06-03 09:49] #42 closed

[2020-06-03 10:11] danielpacak commented on #39
Thank you for bringing this up @jimangel

We'll update the README with prerequisites such as you mentioned. Beyond that we'll explain what are the RBAC privileges required to run Starboard CLI.

[2020-06-04 14:22] danielpacak opened #49 "Set ownerReference for configauditreports resource"

[2020-06-05 12:57] Mel-Github opened #50 "Runner received timeout error"
encountered the above error when trying to scan for vulnerabilities for existing deployment objects.

However if I created a new nginx deployment based on the document and invoked the same command, there was not error.

[starboard_log.txt](https://github.com/aquasecurity/starboard/files/4736214/starboard_log.txt)

[2020-06-05 15:10] danielpacak commented on #50
Hi @Mel-Github Thank you for trying Starboard and opening this issue. I think there're two things to address:

- Trivy does not support scanning old images such as nginx:1.7.9 . That's the one you tried, isn't it? If you run Trivy directly on it you'll get the following error:

[code]
  TBH we cannot do much about it. There were similar issues opened to Trivy, but we won't fix it /cc @knqyf263
- S

[2020-06-05 16:01] braudel commented on #50
Hi Daniel,
I think I see something similar. Running via starboard I get a timeout, but using trivy locally it works:

[code]

[2020-06-05 16:32] braudel commented on #50
Is there a way of specifying a longer timeout? I can only run polatis, but trivy, kube-hunter and kube-bench time out.

[code]

[2020-06-05 16:48] Mel-Github commented on #50
Thanks Daniel.. Is there any way to differentiate new or old image?

[2020-06-05 18:00] danielpacak opened #51 "Allow specifying timeout for scan jobs"
Currently the timeouts are hardcoded to some opinionated/random values . We should allow users to override the default timeouts for scan job runners:

[code]

Similar to the `kubectl --request-timeout` flag we should default to 0, i.e. do not timeout

[2020-06-05 18:06] danielpacak opened #52 "Try getting error message from failing scan jobs"
It's inevitable that some scan jobs will fail. In such case the Scanner CLI does not provide informative error message beyond Job status. What's more, Starboard cleans the Job so it's not possible to check Pod logs and see what was the root cause of the problem.

[2020-06-05 18:25] danielpacak commented on #50
I've created #52 to get more insights in case of scan job failure. Currently the user of Scanner CLI has no clue why it failed.

[2020-06-05 18:39] danielpacak commented on #50
Maybe you could use an experimental `docker manifest` or similar command to quickly check the manifest's MimeType and version of the specified image:

[code]

[code]

I wish someone could add it to `kubectl outdated` plugin maybe? :)

[code]

[2020-06-05 23:07] #51 closed

[2020-06-05 23:25] danielpacak commented on #50
I've added the `--scan-job-timeout` flag to configure timeout instead of using opinionated / hardcoded values. Try [Starboard CLI v0.2.1](https://github.com/aquasecurity/starboard/releases/tag/v0.2.1) and run kube-hunter as follows:

[code]

By default, if you don't specify the `--scan-job-timeout` flag, Starboard won't timeout a scan job:

[code]

[2020-06-06 08:22] braudel commented on #50
Hi Daniel,

Thank you for enabling this. I have now figured out why it was timing out for me, the job's container is trying to run as root so my psp is blocking it:

[code]
Should I raise a separate ticket for this?

[2020-06-08 07:14] danielpacak commented on #50
@braudel Let's have a dedicated issue for PSP and close this one as I hope the timeout issue is resolved now.

[2020-06-08 15:13] rbren commented on #49
Just to clarify - the `ConfigAuditReport` would get an ownerReference pointing back to the resource it audited?

[2020-06-08 15:18] rbren commented on #33
A few breaking changes in our output format in 1.0:
* we now support checks at the controller level, as well as at the pod and container levels
* the list of containers is now an array rather than an object, to match the format of `podSpec`
* severity `error` has been changed to `danger`
* the list of checks is now an object keyed by check ID, rather than an array

I think the first three changes

[2020-06-08 15:24] rbren commented on #29
Prior to 1.0, we would retrieve a list of deployments across all namespaces, and use that list to generate the report.

In the latest version, we retrieve a list of _pods_ across all namespaces, then walk up the owner refs to find the top-level controller. This makes it easy to support arbitrary controller types.

The first thing to do here would be to create a `--namespace` option that would rest

[2020-06-08 16:00] danielpacak commented on #49
Yes. So If we have a ConfigAuditReport for Deployment B, and the Deployment B is removed we can take advantage of Kubernetes Garbage Collector to remove orphaned audit reports.

[2020-06-11 07:40] Mel-Github commented on #36
Hi Daniel

Was just wondering if there is any blog or writeup of how Starboard will complement Aqua CSP?

[2020-06-13 04:51] billyshambrook opened #55 "Output init manifests"
**Describe the problem/challenge you have**

To install starboard via GitOps, we need the YAML manifests to install. Would be great if the init command could optionally just output the manifests to stdout.

**Describe the solution you'd like**

**Anything else you would like to add:**

Happy to help with a PR if this sounds good and there's a preferable cmd line argument to trigger this (e.g. `sta

[2020-06-14 16:12] krol3 commented on #8
I'm glad to help with this item

[2020-06-15 12:36] danielpacak commented on #55
Thank you @billyshambrook for bringing the GitOps use case. I think it's reasonable to allow getting the manifests in the init command as you described. To some extent it's also related to #23

I'd suggest adding the `--dry-run` and `--output` flags to the existing init command:

[code]

We want to stay as close to the kubectl syntax as possible, so the above mentioned command would resemble a bui

[2020-06-15 13:53] danielpacak commented on #50
Closing as the timeout issue should be resolved by #53

[2020-06-15 13:53] #50 closed

[2020-06-15 13:59] danielpacak commented on #36
@Mel-Github  There's no official blog post or writeup for the topic you mentioned but please stay tune das we're working on that.

So far we have a very early POC of integrating Starboard with Aqua CSP via webhook. The repository is publicly available here https://github.com/aquasecurity/starboard-aqua-csp-webhook

However, we're still considering the integration via https://github.com/aquasecurit

[2020-06-16 11:53] BostjanBozic opened #56 "Using custom Trivy image"
**Describe the problem/challenge you have**

As my environment is running without external access, I have to use images that are available in internal repository. Currently there is no option to specify custom Trivy image used for security scanning.

**Describe the solution you'd like**

It would be great to have flag when you run e.g. `kubectl starboard find vunlerabilities` to specify custom ima

[2020-06-16 19:13] danielpacak opened #58 "Automate krew plugin updates"
**Describe the problem/challenge you have**

Each time there's a new release of Starboard CLI, we have to bump up versions and checksums in the krew manifest and open a PR to the krew-index repository. This is repetitive and mundane task for us and krew-index maintainers.

**Describe the solution you'd like**

Integrated [krew-release-bot](https://krew.sigs.k8s.io/docs/developer-guide/release/auto

[2020-06-16 19:56] krol3 commented on #8
Submitted  to krew-index https://github.com/kubernetes-sigs/krew-index/pull/647

[2020-06-16 20:15] danielpacak commented on #8
Great! I think the last step to close this one is to update README https://github.com/aquasecurity/starboard#kubectl-plugin

[2020-06-17 09:24] #8 closed

[2020-06-18 09:02] danielpacak commented on #52
I'm going to leverage container termination messages<sup>[1]</sup> to get insights into failing jobs. In the following example the container state has the message property, which describes the problem:

[code]

[1]: https://kubernetes.io/docs/tasks/debug-application-cluster/determine-reason-pod-failure/

[2020-06-18 09:30] danielpacak opened #61 "Pin kube-bench and kube-hunter to a fixed version"
**Describe the problem/challenge you have**

We run kube-bench and kube-hunter as Kubernetes Job using latest Docker images of the underlying scanner. The latest version of each scanner might not be compatible with the Starboard's code.

**Describe the solution you'd like**

At least pin to a fixed version. We might think about Starboard CLI flag, which allows overriding version for those who want

[2020-06-19 08:55] #52 closed

[2020-06-20 17:43] danielpacak opened #63 "kube-bench and kube-hunter scanners do not respect the --delete-scan-job flag"
**What steps did you take and what happened:**

When I run `starboard kube-bench --delete-scan-job=false` or `starboard kube-hunter --delete-scan-job=false`, Starboard CLI deleted the underlying K8S jobs anyway.

**What did you expect to happen:**

kube-hunter and kube-bench scanner should respect the `--delete-scan-job=false` flag.

**Anything else you would like to add:**

N/A

**Environment:**

[2020-06-20 17:58] danielpacak opened #64 "Define resource requests and limits on scan jobs"
**Describe the problem/challenge you have**

Currently the scan jobs do not set resource requests and limits. In some environments this might prevents scanners from running.

**Describe the solution you'd like**

Each scanner job should define resource requests and limits.

**Anything else you would like to add:**

Consider how to make the limits configurable with flags or Starbor config map?

**E

[2020-06-20 18:02] danielpacak opened #65 "Cannot find vulnerabilities in scratch images"
**What steps did you take and what happened:**

Running `starboard find vuln` command on a workload with container that has image based on scratch, Starboard CLI fails.

**What did you expect to happen:**

Scan scratch images and handle JSON parsing in cases of no vulnerabilities

**Anything else you would like to add:**

N/A

**Environment:**

- Starboard version (use `starboard version`): 0.2.1

[2020-06-21 21:11] danielpacak commented on #65
[code]

[2020-06-22 12:35] #65 closed

[2020-06-22 13:32] danielpacak opened #69 "Notarize starboard through Apple Developer channel"
**Describe the problem/challenge you have**

On macOS running starboard CLI requires adding the binary to security exceptions.

**Describe the solution you'd like**

We should notarize our binaries as trusted provider and integrate such process with GoReleaser

**Anything else you would like to add:**

N/A

**Environment:**

- Starboard version (use `starboard version`): 0.2.1
- Kubernetes version

[2020-06-23 04:01] krol3 commented on #58
I'd like to help with this issue.

[2020-06-23 08:45] DaveTCode opened #70 "Starboard could provide better error reporting when jobs fail"
**What steps did you take and what happened:**

`starboard kube-bench` hangs if the jobs fail due to admissions controllers

Specifically I ran `starboard kube-bench` and the command "hung" (i.e. no new prompt and no logs)

Checking `kubectl describe jobs -n starboard cb61d98b-bd1e-47fa-8ed7-efd5baee3f31` I saw

[code]

which is obviously my fault for not applying a more permissive policy to the s

[2020-06-23 11:36] #61 closed

[2020-06-23 11:36] #63 closed

[2020-06-23 14:40] danielpacak commented on #70
Thank you for the feedback @DaveTCode You're completely right. We should do better in terms of errors propagation. We do have some improvements in the latest release [v0.2.2][1], but I'm going to check if it helps in such case as you described, e.g.:

[code]

Sometimes it might be the underlying scanner, which does not report the error code or error message, which I'm going to double check as well

[2020-06-24 02:47] evalsocket commented on #58
Hey, @krol3 It looks pretty simple and easy. I also have some idea about krew. Can this assign to me if you are not working on it

[2020-06-24 02:50] evalsocket commented on #20
/assign

[2020-06-24 06:49] danielpacak commented on #20
Sure thing @evalsocket I'm happy to assign to you!

[2020-06-24 14:43] krol3 commented on #58
@evalsocket  I submitted the PR, could you take a look? If I'm missing something.

[2020-06-25 09:15] #58 closed

[2020-06-30 20:43] peddyspg commented on #70
I ran in the same issue.
But i think "startboard init" should set proper Security-, Request and Limit-Policies

[2020-06-30 20:51] danielpacak opened #189 "[operator] Test Aqua CSP scanner with container runtimes other than Docker"
Runtime	Path to Unix domain socket
Docker	/var/run/docker.sock
containerd	/run/containerd/containerd.sock
CRI-O	/var/run/crio/crio.sock

[2020-07-01 12:58] krol3 commented on #64
I could help settings default resource limits in the pod definition.

[2020-07-02 20:00] Krishan-Sharma opened #75 "Panic observed when docker's config.json has a server entry that uses credential helper"
**What steps did you take and what happened:**
Executed _starboard find vulnerabilities deployment/nginx --namespace dev_ command and observed that system went into panic mode due to a runtime error.

This is happening because my docker configuration JSON file had a server line that uses credentials helper and has a structure like below in the config.json file.

[code]

**What did you expect to ha

[2020-07-02 20:13] Krishan-Sharma commented on #75
/assign

[2020-07-03 20:17] #75 closed

[2020-07-08 22:36] Krishan-Sharma opened #83 "starboard cleanup leaves namespace drool behind"
**What steps did you take and what happened:**
starboard init, followed by starboard cleanup.

**What did you expect to happen:**
I was expecting that what all was initialized as part of starboard init would be cleaned up when I execute starboard cleanup but found that namespace and other resources in the namespace like service accounts, secret, jobs, etc were left behind.

**Environment:**

- Sta

[2020-07-08 22:37] Krishan-Sharma commented on #83
I think it can be handled by https://github.com/aquasecurity/starboard/pull/82. Can someone please help me with the check that is failing in this pull request?

[2020-07-09 06:57] larssb opened #84 "Allow configuring HTTP proxy with Trivy scanner"
__ISSUE__

[code]

__TECHNICAL DETAILS__

- K8S version: 1.14.6
- starboard version: 0.2.5
- K8S runs on a VMWare platform on-prem
  - Behind a corporate FW and proxy.
- kubectl version: 1.17.3
- Running it in Windows Subsystem for Linux v1. Using the Ubuntu v18.04 distro

__EXPECTATIONS__

To be able to execute `starboard find vulns deployment/some_deployment` without this issue

__DEBUGGING - TR

[2020-07-09 11:11] danielpacak commented on #84
Thank you for reporting this @larssb . I did check on my end and cannot reproduce it anymore. It look like a temporary issue with GitHub release page from which Trivy downloads the Trivy DB artifact.

Could you confirm that you still have the same problem?

[2020-07-09 12:20] larssb commented on #84
Bummer 👎  ... :-) I still get the same error. It could easily be something on my side. Network wise. Company proxy or the like. However, pointers on how-to troubleshoot this would be highly regarded.

Thank you

[2020-07-09 12:46] larssb commented on #84
Tried with a cntlm proxy. To ensure proper authentication when required by our company proxy. This works with *git*, when required. But for *starboard* the issue remains.
There is some accepted MITM going on. Still a couple of tips on troubleshooting this would be highly appreciated.

[2020-07-09 12:54] danielpacak commented on #84
I'd first make sure that you can download Trivy DB from GitHub and run maybe Trivy directly, without Starboard:
- curl -v -L -o trivy.db.gz https://github.com/aquasecurity/trivy-db/releases/download/v1-2020070912/trivy.db.gz
- trivy -d image nginx:1.16

[2020-07-09 19:52] #64 closed

[2020-07-09 20:10] #83 closed

[2020-07-10 09:06] larssb commented on #84
Hi @danielpacak.

- I can download the trivy.db file with the curl cmd in WSL
- Running trivy throws

[code]

Apparently because of [this issue](https://github.com/microsoft/WSL/issues/3162)

I'll see if I can get around the WSL issue somehow. I'll get back to this.

[2020-07-10 15:10] #33 closed

[2020-07-10 15:29] danielpacak opened #87 "Add subcommand to generate audit reports"
**Describe the problem/challenge you have**

Today we cannot read offline reports generated by Starboard in a bus or train.

**Describe the solution you'd like**

We'd like to have a subcommand to generate a PDF report for the specified workload:

[code]

**Anything else you would like to add:**

To deliver this functionality in smaller chunks, I think we can start with a simple report listing vul

[2020-07-10 22:34] rogeduardo opened #88 "starboard find vulns deployment/some_deployment stuck"
[code]
I did the Getting Started section from starboard git page and I stucked on this step, because this command never end. Where I could see what is wrong about it?

I'm using Kind (https://github.com/kubernetes-sigs/kind) to make the Kubernetes cluster.

**Environment:**
- Starboard Version: {Version:0.2.6 Commit:d43faefc56021ae55d4574054ce7de13175ca206 Date:2020-07-09T20:30:45Z}
- Kubernetes v

[2020-07-11 22:48] Krishan-Sharma opened #89 "Bring starboard at par with docker apropos image's server handling"
**Describe the problem/challenge you have**
Pre-requisite: Docker's config.json file has the server field as http://<server> and the container's image is pulled from <server>/<repo>/<imageTag>

In this situation, when we run the command:
$ _starboard find vulnerabilities pod/my-pod_, I get the below error:
E0711 18:33:27.054420   19828 manager.go:177] Container my-pod terminated with Error: 2020-0

[2020-07-11 23:15] Krishan-Sharma commented on #88
Thanks for reporting the issue @rogeduardo. I tried to reproduce the same with v0.2.6 version of starboard against an EKS cluster and I was not able to reproduce the issue.

There are two things that jump out from the logs. One is that we are creating a task and waiting forever:
_I0710 18:23:06.543714    9492 runner.go:79] Running task and waiting forever_

And, the second is that the difference i

[2020-07-13 11:58] danielpacak opened #105 "Decide whether we confine the Starboard operator to a namespace or make it cluster scoped"

[2020-07-13 20:18] rogeduardo commented on #88
I discover my problem and isn't with starboard, it is with my network. Thank you for the help.

[2020-07-13 20:18] #88 closed

[2020-07-13 21:15] #89 closed

[2020-07-14 12:44] larssb commented on #84
Circumvented the WSL issue for a moment by using `starboard` on Windows directly. Exactly the same error I get.

[2020-07-14 13:05] larssb commented on #84
Using *trivy* directly on *Windows*. It's the same error:

[code]

Any tips for pin-pointing the culprit here?

Thank you @danielpacak

[2020-07-14 14:09] danielpacak commented on #84
LTM as some networking issue. I see that you're running behind a corporate proxy. Have you tried setting HTTP_PROXY or HTTPS_PROXY envs?

First we need to resolve the issue of running standalone trivy in your env:

[code]

[2020-07-14 14:11] danielpacak commented on #84
Also make sure that you can download trivy-db artifacts with curl or wget:

[code]

[2020-07-15 06:58] larssb commented on #84
Thank you @danielpacak

I've know tried out your suggestions. I can use *trivy* directly by sending/setting an environment variable with the `-e` parameter to the `docker run...` cmd.
The variable I set is of course == `HTTPS_PROXY=....`.

So as I see it. The question that remains is. How can one specify the proxy that *trivy* should use when *starboard* is used. Executing `starboard help` and/or

[2020-07-15 07:34] danielpacak commented on #84
Starboard does not support specifying HTTP(S) proxy for Trivy. We have to implement that. It's somehow related to general topic of how we configure Starboard and other scanners. Let me think about it and I'll comment in this thread or create a follow up issue.

[2020-07-15 08:05] larssb commented on #84
Sure @danielpacak .. I'll happily let you think about this. Sounds good. I'll use *trivy* for now directly. And then see and go from there. It's likely not going to be an issue using *starboard* on our CI/CD platform. However, it would really be wonderful and useful to be able to use *starboard* locally.

Thank you and looking forward to your thoughts.

[2020-07-17 14:45] danielpacak opened #94 "Rename kind Vulnerability to VulnerabilityReport"

[2020-07-24 12:13] #45 closed

[2020-07-28 01:53] krol3 commented on #26
I'd like to help it

[2020-07-28 07:22] danielpacak commented on #26
@krol3 To avoid conflicts, let's wait for https://github.com/aquasecurity/starboard/pull/95 to be merged

[2020-07-28 08:46] danielpacak opened #188 "[operator] Aqua scanner fails when we use digest as an image identifier"
[code]

[code]

[code]

[code]

[2020-07-28 14:06] danielpacak commented on #87
As we're agreed, we're going to generate HTML reports and then if needed someone can print the HTML to PDF using a web browser or some other tool kit.

[2020-07-28 15:15] danielpacak opened #99 "The cleanup command should wait for the starboard namespace termination"
**Describe the problem/challenge you have**

The starboard cleanup command sends a request to Kubernetes API, but does not wait for the starboard namespace termination.

For example, running `$ starboard init` immediately after `$ starboard cleanup` might fail.

**Describe the solution you'd like**

The command should exit only if the underlying namespace is terminated

**Environment:**

- Starboa

[2020-07-28 17:42] krol3 commented on #23
I'd like to help, I see the other open issue related to use starboard with gitops.

[2020-07-29 18:53] danielpacak commented on #21
In the name of consistency and to follow this `kubectl starboard <verb> <scanner>` patter I'd suggest changing

- `kubectl starboard find vulnerabilities`
- `kubectl starboard polaris`
- `kubectl starboard kube-bench`
- `kubectl starboard kube-hunter`

to

- `kubectl starboard find vulnerabilities` with alias `kubectl starbaord trivy`
- `kubectl starboard audit configuration` with alias `kubectl s

[2020-07-30 08:37] danielpacak commented on #17
We believe that Starboard and CRD / etcd is not the best place to store historical reports. Starboard is meant to represent the current state / security posture of the running workloads and cluster configuration. /cc @lizrice

[2020-07-30 08:37] #17 closed

[2020-07-30 18:19] danielpacak opened #101 "Create or update CISKubeBenchReport resources"
**Describe the problem/challenge you have**

In the initial version of Starboard we wanted to store historical benchmark reports. However, now we think that we should store only the latest report as a CR instance.

**Describe the solution you'd like**

Simplify the logic and implement create or update logic for CISKubeBenchReport writer.

**Anything else you would like to add:**

N/A

**Environmen

[2020-07-31 11:09] #105 closed

[2020-07-31 20:05] krisctl commented on #49
Hi Daniel,

I have been trying to solve this issue for some time but probably need some guidance. Where in the starboard codebase can I find references to the parent resources for which the audit reports are created? I played around polaris/crd/writer.go and tried updating KubernetesResource like so:
`type KubernetesResource struct {
	Kind string `json:"kind"` // Pod, Deployment, Node, etc.
	Name

[2020-08-06 03:12] krol3 commented on #99
I'd could help with this item

[2020-08-10 14:33] #87 closed

[2020-08-10 14:52] danielpacak commented on #49
Hey @krisctl !

It's going to be easier to resolve this issue once we implement #29

Currently we do run Polaris checker for all workloads accessible in a cluster, and then we convert the Polaris model to Starboard model in https://github.com/aquasecurity/starboard/blob/master/pkg/polaris/converter.go#L76

IIRC Polaris does not return UUID of Kubernetes workloads so we have to structure and refact

[2020-08-10 18:01] sylus opened #109 "Kube-hunter cannot overwrite report named "cluster" when running in a CronJob"
**What steps did you take and what happened:**

It seems I can't run kube-hunter in a cron job because on the second run it complains that cluster exists. I was hoping I could run kube-hunter continuously on a set interval in case starboard ever got updated and there were new check.

Love the tool thanks so much!

**What did you expect to happen:**

That the next cron run will succeed just like ku

[2020-08-10 18:56] danielpacak opened #111 "Merge codecov reports generated by unit- and integration- test runners"

[2020-08-12 08:22] danielpacak opened #115 "Upgrade kube-bench to 0.3.1"

[2020-08-12 12:55] danielpacak commented on #111
Merging codecov reports is easy. However, in the integration test we to run Starboard CLI as an external process, which is not instrumented as is the case for `go test -cover`

See https://github.com/onsi/ginkgo/issues/589

[2020-08-12 13:15] danielpacak commented on #109
Hi @sylus ! Thank you for reporting this issue. However, I need more details to help you as I don't quite understand you case:
- Which version of the starboard binary did you use? We did some changes to create or update kube bench and kube hunter reports, which are not released yet; only available on master.
- Which exact Starboard command are you running? Is it `starboard kube-bench`?
- Could you

[2020-08-12 14:46] sylus commented on #109
Hi there,

The version is starboard 0.2.5 and I attached a picture showing the error and the cronjob spec.

![Screen Shot 2020-08-12 at 10 45 19 AM](https://user-images.githubusercontent.com/984304/90029562-02926400-dc89-11ea-82ec-e901825aeeb7.png)

[code]

[2020-08-13 09:32] danielpacak commented on #109
Thank you for providing more details @sylus ! I was confused a bit by the title of this issue as it does not relate to kube-bench but kube-hunter.

Anyway I do confirm that in starboard v0.2.5 there's a bug in overwriting the `kubehunterreport.aquasecurity.github.io` resource named `cluster`.

The code is fixe on the master branch, but haven't been released yet.

Are you able to rebuild you Docker

[2020-08-13 09:43] danielpacak commented on #109
@sylus Please note that we're working on https://github.com/aquasecurity/starboard-security-operator to automate and schedule scans in Kubernetes-native way. The Starboard CLI was meant to execute a single scan.

Anyway I like your approach, which is something in between the CLI and the Operator approach. I'm just curious how do you configure KUBECONFIG? Is it part of the parent layer in the statc

[2020-08-13 10:50] danielpacak commented on #115
/assign @krisctl

[2020-08-13 12:44] #101 closed

[2020-08-13 13:23] danielpacak commented on #111
It seem that people find some "workarounds" for that, e.g. https://blog.cloudflare.com/go-coverage-with-external-tests/

[2020-08-13 16:08] sylus commented on #109
Hey @danielpacak the pod gets a service account and the go library uses the service account. Basically uses the service account mounted into the pod so I didn't have to do anything.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection

And that is great news once the operator is ready I'll def switch to that.

[2020-08-14 07:33] avdhoot opened #120 "private container registry support"
**What steps did you take and what happened:**

Followed install instructions. Tried to run scan using below on command.
[code]

**What did you expect to happen:**
Scan should completed without error

**Anything else you would like to add:**
`trivy` support [gcr](https://github.com/aquasecurity/trivy#gcr-google-container-registry). But I am not to able find way to pass custom `ENV` to` trivy` usin

[2020-08-19 07:42] #111 closed

[2020-08-19 16:33] avdhoot commented on #120
@danielpacak In case you missed it ^^

[2020-08-20 05:54] danielpacak commented on #120
Hi @avdhoot ! Thank you for reporting this issue. I'm going to follow up on that and link it to a parent story or epic about configuring scanners. In your case the root cause is that we currently cannot pass TRIVY_USERNAME or TRIVY_PASSWORD envs, but there're more config options that users might want to pass to a scanner.

[2020-08-25 06:33] ipsita2192 opened #130 "Find vulnerability got stucked and get vulnerability return blank yaml"
I am trying to find vulnerability and get vulnerability of deployment/nginx.
Getting below error:
bash-4.4# kubectl starboard --kubeconfig admin.conf init
bash-4.4# kubectl --kubeconfig admin.conf get deployment
NAME    READY   UP-TO-DATE   AVAILABLE   AGE
nginx   0/1     1            0           5d20h

bash-4.4#  kubectl starboard --kubeconfig admin.conf get vulnerabilities deployment/nginx --nam

[2020-08-25 10:01] danielpacak commented on #130
Thank you for reporting this issue @ipsita2192 Would you be able to run Starboard with the `--delete-scan-job` flag set to false?
This might give us more insights into the scan Job that the we schedule behind the scenes:

[code]

With that could you share the description of the scan Job in the starboard namespace and logs for the corresponding Pod if it was scheduled.

[2020-08-25 10:03] #26 closed

[2020-08-25 10:06] danielpacak commented on #109
Thanks @sylus So in this case bear with us and wait for release v0.3.0

[2020-08-25 19:57] ipsita2192 commented on #130
Tried with the above suggested way and getting error: "unknow flag : --delete-scan-job"

bash-4.4# kubectl starboard --kubeconfig admin.conf get vulnerabilities deployment/nginx --namespace default --delete-scan-job=false  error: unknown flag: --delete-scan-job
bash-4.4#

Then describe pods and getting ImagePullBackOff error.
bash-4.4# kubectl --kubeconfig admin.conf get pods
NAME

[2020-08-26 07:46] danielpacak commented on #130
Hey @ipsita2192 I double checked on my end and the `--delete-scan-job` flag is available in Starboard v0.2.6:

[code]

[code]

It seems that image pull has failed in your environment. Could you describe the Pod nginx-77776fdcdc-8z9sw and see why it failed? The `find vulnerabilities` command runs Trivy which is also trying to pull an image to scan it for vulnerabilities. So we need to figure out wh

[2020-08-26 11:18] ipsita2192 commented on #130
Docker was not installed there inside the container. I have created another container with docker installed and execute find Vulnerability, it is running and results is given below

bash-4.4#  kubectl starboard --kubeconfig admin.conf find vulnerabilities deployment/nginx --namespace default -v 3
I0826 10:59:34.773122     647 scanner.go:56] Getting Pod template for workload: {Deployment nginx defa

[2020-08-26 12:02] ipsita2192 commented on #130
Now I am able to get vulnerability using below command:
kubectl --kubeconfig admin.conf get vulns --selector starboard.resource.kind=Deployment,starboard.resource.name=nginx --namespace default --output yaml

[2020-08-26 12:03] ipsita2192 commented on #130
Thank you  @danielpacak .

[2020-08-27 11:23] #115 closed

[2020-08-27 12:39] krisctl opened #134 "Hacking.md needs an update on how to run test after addition of integration tests"
**What steps did you take and what happened:**
Tried to follow HACKING.md to run the tests using `make test`. This used to work when we only had unit tests but after the addition of integration tests, we ended up creating two targets in the Makefile (unit-tests & integration-tests).

**What did you expect to happen:**
`make test` block should still be present in the Makefile and should call the un

[2020-08-29 11:41] krisctl commented on #134
Closed by #135

[2020-08-29 11:41] #134 closed

[2020-08-29 11:46] krisctl opened #136 "Error reporting on missing env variable could be clearer"
**What steps did you take and what happened:**

When I run make integration-tests, I see a verbose stack trace of the errors if I don't have my pre-requisite of having KUBECONFIG env var set.

**What did you expect to happen:**

This error reporting could be more clear if we handle this case in the Makefile itself and tell the users clearly that they are missing the env var instead of they reading

[2020-08-31 15:01] #136 closed

[2020-08-31 15:05] danielpacak commented on #120
@avdhoot Actually starboard can use image pull secret attached to the Pod template or the service account. In your case did you set the secret on the Pod template level or at service account?

[2020-08-31 15:51] avdhoot commented on #120
Our cluster created using kops. We seeded it with registry secrets using below command.  We do not have `image_pull` secret attached to pod. @danielpacak
`kops create secret dockerconfig -f ~/.docker/config.json `

[2020-09-01 08:26] #99 closed

[2020-09-01 08:47] danielpacak commented on #120
Thank you for providing all the details @avdhoot So just to rephrase and confirm my understanding:

You neither use image pull Secret set at Pod template not Service Account. You're using a special feature<sup>[1]</sup> of kops to store the `config.json` in `/root/.docker/config.json` on all nodes (including masters) so that both Kubernetes and system containers may use registries defined in it.

[2020-09-01 09:22] avdhoot commented on #120
Thanks @danielpacak you are understanding is correct.

[2020-09-01 14:00] danielpacak opened #140 "Write an integration test case for Polaris command"
To catch regressions we should have an integration test that runs starboard polaris command and asserts on `configauditreports` created.

[2020-09-01 14:18] krisctl commented on #140
I'd happy to take a jab at this. Thanks

[2020-09-01 15:58] danielpacak commented on #140
I've actually created this issue to assign it to @krol3

[2020-09-01 18:29] krol3 commented on #140
Thanks @danielpacak

[2020-09-02 11:24] danielpacak opened #142 "The get vulnerabilities subcommand does not respect global flags (e.g. --kubeconfig)"
**What steps did you take and what happened:**

The global flags to configure client-go are not respected by the `get vulnerabilities` subcommand:

[code]

**What did you expect to happen:**

The `--kubeconfig` flag and other global flags to be passed to the get vulnerabilities subcommand.

**Anything else you would like to add:**

N/A

**Environment:**

- Starboard version (use `starboard version

[2020-09-02 11:38] danielpacak commented on #130
@ipsita2192 I'm going to close this issue as you get the vulnerability report for you deployment.

However, I opened another issue to follow up on bug in the `get vulnerabilities` subcommand, see #142

[2020-09-02 11:38] #130 closed

[2020-09-02 12:05] danielpacak commented on #120
@avdhoot I renamed the title of this issue to reflect the specific use case of kops and authorizing Kubernetes nodes to pull images from private registry and repositories.

As already mentioned Starboard only supports recommended way of handling private registries with image pull secrets.
We need to think more whether / how to support such cases as you described. /cc @lizrice

[2020-09-02 12:14] danielpacak commented on #56
@TalZiv Starboard looks up image pull secrets set on a Pod or Service Account level. So you don't have to specify the name of the secret as arg or flag to `find vulnerabilities` command.

In your case, do you specify ServiceAccountName for the workload that you're scanning? Is it an unmanaged Pod or Kubernetes controller such as Deployment or ReplicaSet?

[2020-09-02 23:20] krisctl commented on #142
/assign

[2020-09-03 11:29] danielpacak opened #186 "[operator] Integrate with OLM and OperatorHub.io"

[2020-09-08 08:48] danielpacak opened #144 "Non-standard syntax for Kubernetes labels"
According to https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set labels have the following syntax: `<prefix>/<name>`, where `/kubernetes.io` and `k8s.io/` prefixes are reserved for Kubernetes core components.

To follow this convention we should define label prefix for Starboard, e.g.: `aquasecurity.github.io/` or `starboard.github.io/` or `starboard.

[2020-09-08 14:45] #29 closed

[2020-09-08 14:45] #49 closed

[2020-09-08 15:58] danielpacak commented on #109
Closing as v0.3.0 is officially released.

[2020-09-08 15:58] #109 closed

[2020-09-10 09:24] danielpacak opened #148 "Define additional printer columns for ConfigAuditReports"
**What steps did you take and what happened:**

[code]

[code]

**What did you expect to happen:**

There's the additional column SCANNER displayed when we list ConfigAuditReports:

[code]

There're three additional columns SCANNER, ERROR, and WARNING displayed when we list ConfigAuditReports and specify a wide output:

[code]

**Anything else you would like to add:**

See how it's implemented for

[2020-09-10 10:16] danielpacak opened #149 "Define additional printer columns for KubeHunterReports"
**What steps did you take and what happened:**

[code]

[code]

**What did you expect to happen:**

There's the additional column SCANNER displayed when we list KubeHunterReports:

[code]

There're four additional columns SCANNER, HIGH, MEDIUM, and LOW displayed when we list KubeHunterReports and specify a wide output:

[code]

**Anything else you would like to add:**

See how it's implemented for

[2020-09-10 14:29] #94 closed

[2020-09-10 14:49] danielpacak opened #150 "GeneratedAt property of VulnerabilityReport is not displayed"
**What steps did you take and what happened:**

Generate HTML report for a Deployment and open it in a Web browser:

<img width="1275" alt="starboard_html_report_generated_at_blank" src="https://user-images.githubusercontent.com/1322923/92748277-44482480-f385-11ea-94bd-05ee5419d920.png">

The Generated At value is blank

**What did you expect to happen:**

I'd expect that the Generated At is displ

[2020-09-18 10:21] danielpacak commented on #84
We have recently introduced a generic configuration map for Starboard CLI, which is created on init. So far it was only used by Polaris, but now we can use it to configure scanners by adding well known keys to the ConfigMap:

[code]

[2020-09-18 15:21] danielpacak commented on #140
Resolved by: #146

[2020-09-18 15:21] #140 closed

[2020-09-18 15:45] danielpacak opened #155 "Run integration tests in a dedicated namespace(s)"
Currently we run integration test workloads in the `default` namespace. This might end up with test failures due to naming collisions.

To avoid that it's better to run integration tests in a dedicated namespace.

We can create such namespace in the `BeforeSuite` callback and delete it in the `AfterSuite` callback. We can also randomize the name of such namespace. /cc @krol3

[2020-09-18 16:13] krol3 commented on #155
/assign i will work in this issue

[2020-09-19 18:35] #84 closed

[2020-09-21 07:55] danielpacak commented on #20
@evalsocket could you update us on this one please? Are you available to work on this one? Otherwise we could leave it as unassigned.

[2020-09-21 11:35] lizrice opened #156 "Aqua logo looks wrong in HTML report"
`k starboard get report deployment/nginx > out.html`
`open out.html`

The logo is stretched up-and-down. (We should update to the new Aqua logo anyway)

![Screenshot 2020-09-21 at 12 30 39](https://user-images.githubusercontent.com/458616/93761895-7ddf2200-fc06-11ea-8af5-1da68fd804e1.png)

- Starboard version (use `starboard version`): 0.4.0
- OS (macOS 10.15, Windows 10, Ubuntu 19.10 etc): Mac /

[2020-09-23 10:19] #148 closed

[2020-09-23 10:19] #149 closed

[2020-09-23 12:19] danielpacak commented on #56
With the current generic `starboard` ConfigMap created by the `init` command we can define a configuration key for Trivy image reference (`trivy.imageRef`) with the default value of `docker.io/aquasec/trivy:0.9.2'

If for some reason you want to change that value you could do that by patching the `starboard` ConfigMap before you run a scan job.

[2020-09-23 12:31] evalsocket commented on #20
@danielpacak i will start working on it from today

[2020-09-23 13:32] danielpacak opened #187 "[operator] Allow deploying operator with Helm chart"
Some folks might not want to install OLM and Operator Marketplace in their (vanilla) Kubernetes clusters. In such cases we can provide a Helm chart and supports all install modes as defined by OLM:

- OwnNamespace
- SingleNamespace
- MultiNamespace
- AllNamespaces

The Helm chart would also take care of creating RBAC objects based on `operatorNamespace` and `operatorTargetNamespaces` values.

[2020-09-24 15:22] BostjanBozic commented on #56
Sounds good, works as expected, thank you!
It would still be great to have option to specify default image either by init or find command.

[2020-09-25 13:56] #155 closed

[2020-09-26 09:59] ButovOleg opened #161 "Failed to download vulnerability DB"
Launched the command for execution:
starboard find vulnerabilities deployment / nginx --namespace dev
Output:
E0926 05:36:47.401267    6188 manager.go:228] Container acad83d2-e151-4eca-83d5-d69f6e8b75f8 terminated with Error: 2020-09-26T09:36:16.611Z	INFO	Need to update DB
2020-09-26T09:36:16.611Z	INFO	Downloading DB...
2020-09-26T09:36:46.612Z	FATAL	failed to download vulnerability DB: failed to

[2020-09-29 15:06] danielpacak opened #185 "[operator] Integrate Polaris scanner"
In the same way we reconcile VulnerabilityReports we should reconcile ConfigAuditReports reports generated by Polaris scanner.

[2020-09-29 15:11] danielpacak commented on #144
We don't do that for now as I'm not convinced to request users to type in such long labels in the command line.

[2020-09-29 15:11] #144 closed

[2020-09-29 15:17] danielpacak commented on #161
Hi @ButovOleg We run Trivy as scan Job with BackoffLimit set to 1. However, I observed that often times the GitHub API is not responding. Hence, when Trivy is trying to download the DB file from https://api.github.com/repos/aquasecurity/trivy-db/releases the scan Job might fails.

1. Could you confirm that your cluster / network config allows access to https://api.github.com/repos/aquasecurity/tri

[2020-09-29 15:19] danielpacak opened #162 "Hacktoberfest at Aqua Security"
Dear community, we appreciate you and your contribution to the success of our open source projects! In celebration of [Hacktoberfest](https://hacktoberfest.digitalocean.com/), we would like to extend our appreciation and reward your hard work. This repository is participating in Aqua Security 2020 Hacktoberfest campaign. For full details and guidelines please visit the official repo: [Hacktoberfes

[2020-09-30 10:15] danielpacak opened #163 "Set SecurityContext for pods created by scan jobs"
To implement least privileged principle we should explicitly set SecurityContexts<sup>[1]</sup> on pod templates for each scan job. Such SecurityContext should reflect minimal privileges to run a given scanner. The goal here is to review required permissions and set them explicitly for each pod template comprising a scan job descriptor.

[1]: https://kubernetes.io/docs/tasks/configure-pod-containe

[2020-09-30 10:41] danielpacak opened #164 "Add long message shown in the 'starboard help init' output"
Currently the message displayed by `$ starboard help init` is not accurate. Besides creating CRD the init command creates other Kubernetes objects. In particular, the message should point out that the init command creates the starboard ConfigMap, which can be modified to change the behaviour of a scanner.

[2020-09-30 10:46] danielpacak opened #165 "Figure out why integration test for kube-hunter command is failing on GitHub actions runner"
We have an integration test which runs kube-hunter command. However this tests fails when it's run on GitHub actions runner. It seems to be working fine in dev environment with local KIND cluster though.

[2020-09-30 11:00] danielpacak opened #166 "Add 'starboard config' command to read config values"
On init we create the `starboard` ConfigMap in the `starboard` namespace. The config map contains configuration params for scanners. Currently the only way to list the params is view or edit the ConfigMap. We'd like to have a dedicated command to hide the implementation details, wich may have the following interface:

[code]

[code]

[code]

The interface is inspired by git config command. However

[2020-09-30 12:25] danielpacak commented on #43
We can add `trivy.githubToken` config key to the `starboard` ConfigMap and use it to set the `TRIVY_GITHUB_TOKEN environment variable when we create a Job for Trivy scanner. Ideally instead of ConfigMap we should have Secret, but that's a good start to make the token configurable.

[2020-09-30 12:28] danielpacak commented on #142
@krisctl Are you available to work on this one? If not please let us know if we should leave it as unassigned.

[2020-10-02 19:02] #164 closed

[2020-10-02 22:36] akath19 commented on #163
@danielpacak I'd like to pick this one up, here's my suggested SecurityContext:

Pod Level:
[code]

Container level:

[code]

I've tested this with trivy & polaris jobs, I haven't tested this with kube-bench/hunter jobs yet.

[2020-10-03 04:19] avats-dev commented on #166
hey @danielpacak , I want to work on this. Can you guide me a bit how to resolve this? Thanks.

[2020-10-03 04:20] avats-dev commented on #165
I can also try this one, I'm familiar with github actions and `yaml`. Any help regarding this would be good too. Thanks.

[2020-10-03 04:31] kichloo commented on #31
Kindly assign this issue to me.

[2020-10-03 04:31] kichloo commented on #31
Kindly assign this issue to me.

[2020-10-03 11:37] sam-robson commented on #166
hi @danielpacak, after getting familiar with the repo over the past few days I'd quite like to pick this up (if you wouldn't mind @avats-dev - I saw you are also interested in issue 165). I'll send over my thoughts about the CLI design and how to handle the multi-line values asap.

[2020-10-03 19:29] avats-dev commented on #166
Ok @sam-robson no problem :+1: .

[2020-10-04 02:51] krabhisharma commented on #156
Can I solve.. This @lizrice

[2020-10-04 19:47] sam-robson commented on #166
My thoughts about the CLI:
- Is a `--list` flag necessary, if the purpose of `starboard config` is to list the configuration parameters, by default? I think this might be preferable to requiring an additional flag, be it `--list` or `--get`, but that is just my instinctive 2c; I am new to CLI design.
- We should prioritize the `get` command, so that in the case where both `name-only` and `get` com

[2020-10-04 22:17] hillarysousa commented on #31
hey, if it's up for grabs I'd like to do this one :)

[2020-10-05 10:12] #56 closed

[2020-10-05 11:15] #43 closed

[2020-10-05 11:30] danielpacak commented on #165
👋 @avats-dev I'm glad that you want take this one. In essence, we do have this integration test for kube-hunter, which is failing only on remote GitHub runner https://github.com/aquasecurity/starboard/blob/master/itest/starboard_cli_test.go#L876
I have no problems with it in my local dev though. (You can confirm that in your env by changing PDescribe to FDescribe, change the spec from pending to f

[2020-10-05 11:41] danielpacak commented on #166
👋 @sam-robson I'm happy to assign this one to you. Regarding your thoughts, I do agree with all of them and I'm okey with changing my original proposal, which was inspired by `git config` command. On the other hand, we should be consistent and compliant with kubectl as Starboard can be installed with krew plugins manager.

[2020-10-05 11:54] danielpacak commented on #163
👋 @akath19 Happy to assign this one to you!

I think we can start with hardcoded structure literals to specify SecurityContexts for scan jobs. Later on we can think of making it configurable.

For the SecurityContext itself please go ahead and open a PR so I can review it. I believe we cannot run Trivy as non root user, but if that's the case our integration should catch it.

[2020-10-05 12:46] danielpacak opened #175 "Test Starboard on Azure Kubernetes Service (AKS)"
Configure Starboard CLI with a managed Kubernetes cluster on Microsoft Azure and walk through the Getting Started steps. Note any issues and problems that you might have.

[2020-10-05 12:47] shaunmclernon commented on #55
@danielpacak I have been digging around the code on this one.

Based on the brief above, I am planning on possibly breaking this up into 2 PRs (1 for the dry-run and the other for yaml generation). I propose to mimic the kubectl behaviour for dry-run to show which objects are to be created (it is sort of an extension to work done in #164)

Currently, I have the following resources working in dry-r

[2020-10-05 12:51] danielpacak opened #176 "Test Starboard on Amazon EKS"
Configure Starboard CLI with an Amazon EKS and walk through the Getting Started steps. Note any issues and problems that you might have.

[2020-10-05 13:13] danielpacak commented on #55
@shaunmclernon I think it's reasonable approach to implement `--dry-run` flag in one PR and then follow up with another PR to output YAML.

Regarding the output we can maybe make it even closer to the `kubectl` by printing the fully qualified resource name as prefix. WDYT?

[code]

[2020-10-05 14:52] ButovOleg commented on #161
I changed the config, now another error:
error: unexpected EOF

[2020-10-05 21:21] avats-dev commented on #165
Thanks @danielpacak for the help, I'll look and try this, and get back to you with the updates.

[2020-10-05 21:30] avats-dev commented on #166
@danielpacak you can assign this one to @sam-robson , I've got enough on my plate for now. Thanks. :rocket:

[2020-10-06 10:41] danielpacak opened #181 "[cli] Allow configuring custom Docker image for each scanner"

[2020-10-06 23:11] neha-viswanathan commented on #142
@danielpacak I tried this out, and it seems like the ordering of the `kubeconfig` flag is an issue with your example:
[code]

But the below one seems to work with passing the `kubeconfig` flag after the vulnerabilities subcommand.
[code]

[2020-10-06 23:37] neha-viswanathan commented on #142
@danielpacak It seems like the example you have shared is missing the `namespace` flag. I tried to run the same command by providing the flag and I seem to get some output. Can you please share logs of what output/error you get when you run the command?

[code]

[2020-10-06 23:50] neha-viswanathan commented on #142
@danielpacak can you please share the logs from when you run the command?

[2020-10-07 11:10] danielpacak commented on #161
All right @ButovOleg In order to help you and narrow down the root cause of all that I need more details. Could you provide:
1. Docker image reference that you use for your nginx deployment? (e.g. docker.io/library/nginx:1.16)
2. Confirm that your nginx deployment is actually running without any ImagePullBackoff errors
3. Provide the version of Starboard CLI that you're actually using (run `$ star

[2020-10-07 11:13] danielpacak commented on #156
👋 @krabhisharma Thank you for interesting in resolving this issue. However, I'd better leave it with @danielsagi as we'd like to update the logo to the one that's currently used by rebranded Aqua

[2020-10-07 11:58] danielpacak commented on #142
We don't have meaningful logs output as this command fails immediately due to connection error with Kubernetes API. To reproduce you can do the following:

[code]

Here's the actual issue, i.e. even if we specify the right location of kubeconfig file it's ignored by starboard get vulns command. If you check the code you'll see that the implementation is a bit hacky because we spawn kubectl get com

[2020-10-07 19:27] sanjana1604 commented on #162
@danielpacak Thank you for the opportunity but  why this is mentioned under an issue??

[2020-10-09 05:04] kichloo commented on #31
Hi, UPDATE: I am working on this issue and will soon make a PR regarding it

[2020-10-09 06:26] swapniljha001 commented on #31
Is this issue already resolved?

[2020-10-09 07:18] danielpacak commented on #31
Since we're merging the operator code from https://github.com/aquasecurity/starboard-operator into this repository I'll take this one.

[2020-10-09 16:33] khushijindal commented on #181
Hey, @danielpacak Can you please elaborate on what needs to be done. I'll want to work on this.

[2020-10-09 22:09] #166 closed

[2020-10-10 12:34] sam-robson commented on #176
Hey @danielpacak, I'd quite like to take a look at this. Shall I note what I find in this thread?

[2020-10-10 22:03] borkod commented on #175
I worked through the Getting Started section with a simple 3 node AKS cluster. No issues. Let me know if you want to validate the outputs of the vulnerabilities and config audits. I saved the outputs of all the commands and can provide them if you wish.

My one suggestion would be to have a step to create the dev namespace in the instructions. I already created an update to the README for this. #1

[2020-10-10 22:14] hypnoglow commented on #142
/assign

[2020-10-11 01:31] borkod commented on #176
Hi. I tested the Getting Started steps on an Amazon EKS cluster (using EC2 node pool). No issues.

[2020-10-12 13:25] danielpacak commented on #181
👋 @khushijindal On init we do create the starboard ConfigMap in the starboard namespace. The ConfigMap contains configuration keys for the default images used by Trivy (`trivy.imageRef`) and kube-bench (`kube-bench.imageRef`).

This means that you can configure image references for Trivy and kube-bench without recompiling Starboard CLI.

For Polaris and kube-hunter scanners the images are hardcode

[2020-10-12 13:52] danielpacak commented on #175
👋 @borkod This is great news! Before we close this issue could you comment below with checklist of all steps that you performed? I'm wondering if you run also kube-bench and kube-hunter on your test cluster?

[2020-10-12 13:55] danielpacak commented on #176
@sam-robson I think we can note down the validation steps in in this thread and create follow up issues if we found some issues. And it would be great to see some evidence that you've actually run those tests such as logs dump or screencast if you will.

[2020-10-12 15:12] borkod commented on #175
Hi.
I provisioned a 3 node AKS cluster. I downloaded the starboard CLI (windows release). Then followed the instructions as specified in the Getting Started section:

1. `starboard init`
2. Verified deployed resources using `kubectl api-resources --api-group aquasecurity.github.io`
3. Created dev namespace using `kubectl create namespace dev`
4. `kubectl create deployment nginx --image nginx:1.16

[2020-10-13 16:46] 06kellyjac opened #199 "package trivy for nix/nixOS in nixpkgs"
package starboard for nix/nixOS in nixpkgs

issue created as per [aquasecurity/Hacktoberfest](https://github.com/aquasecurity/Hacktoberfest) requirements

Resolved by https://github.com/NixOS/nixpkgs/pull/99412

---

Starboard is now in `nixpkgs` on `master`, I'm happy to close the issue now or if you'd prefer we can close this once it hits `unstable` (a more commonly used release channel) or a st

[2020-10-14 05:52] neha-viswanathan commented on #188
Hi @danielpacak if this one is available, I'd like to take a look at it please.

[2020-10-14 06:59] danielpacak commented on #188
I'm following up on this one with the product team. I double checked and it seems that everything is fine with the Starboard code.

[2020-10-14 08:31] danielpacak commented on #186
See https://github.com/operator-framework/community-operators/pull/2397

[2020-10-14 13:01] danielpacak opened #202 "[operator] Limit the number of scan jobs run in parallel"
In v0.6.0 we do not have any mechanism implemented to limit the number of scan jobs run in parallel. The operator should implement some kind of throttling and only allow a predefined number of scan jobs to be run in parallel.

[2020-10-14 13:12] danielpacak opened #203 "[operator] Scaffold an integration test for the operator"
We can test the operator as explained in https://book.kubebuilder.io/cronjob-tutorial/writing-tests.html

[2020-10-15 15:28] danielpacak commented on #186
The operator is available from https://operatorhub.io/operator/starboard-operator

[2020-10-15 15:28] #186 closed

[2020-10-15 16:04] consideRatio opened #208 "[operator] Creation of VulnerabilityReport request to k8s api-server can become too large"
**What steps did you take and what happened:**

I used starboard-operator 0.6.0, which used trivy 0.11.0 to scan a found Docker image used by a pod. A vulnerabilityreport was attempted to be created by the starboard-operator, but failed because the request to do it was too large it seems.

[code]
**Environment:**

- Starboard version (use `starboard version`): the starboard cli was not involved
-

[2020-10-15 17:48] danielpacak opened #212 "[operator] Allow configuring scanners"
Currently the operator runs Trivy with the default settings. However, we should be able to configure scanners run by the operator in a similar / compatible way to Scanner CLI (see https://github.com/aquasecurity/starboard#configuration)

[2020-10-15 18:15] danielpacak opened #213 "[operator] Design and implement Trivy DB caching"
We run Trivy scans as ephemeral Jobs scheduled by Kubernetes. Each scan Job in its init container pulls the latest version of Trivy DB from GitHub (https://github.com/aquasecurity/trivy-db). This might lead to unnecessary network traffic and eventually lead to GitHub relate limit.

See https://github.com/aquasecurity/starboard/discussions/209 for great suggestions.

[2020-10-15 18:49] consideRatio commented on #208
![image](https://user-images.githubusercontent.com/3837114/96166819-cdbbbb00-0f1e-11eb-8074-cda695d95042.png)

[code]

[2020-10-15 19:04] consideRatio commented on #202
For reference, there is some related discussion about the implementation in #209

[2020-10-16 15:15] danielpacak opened #216 "[operator] Deprecated static YAML manifests"
Once we merge #187 it doesn't make sense to maintain static YAML manifests anymore because we can template them out form the Helm chart using the `helm template` command.

[2020-10-16 15:46] consideRatio commented on #216
One could maintain a Helm template values file dedicated to adjusting the default Helm chart's values to generate the static manifests. For example, i would consider it a better default for the Helm chart to deploy into a single namespace, and then require configuration to make it cluster wide, but if you just have a single set of static k8s resources manifests, it may be more useful to provide a

[2020-10-16 21:31] #187 closed

[2020-10-19 07:26] danielpacak opened #219 "[operator] Implement and enable leader election"

[2020-10-22 12:39] StatingPrism commented on #213
Hey, I'm pretty new to the project but would like to help with this issue.
Is the solution to this asking to have a cache of the Trivy db on the host machine that has the containers, and have the `initContainers` variable in _/pkg/find/vulnerabilities/trivy/scanner.go_ take from the cache if there hasn't been any updates to the db since the last scan? Then if it's too old have the host update the

[2020-10-22 13:30] danielpacak commented on #31
I think we can close this one as we already have pretty detailed contributing guide in https://github.com/aquasecurity/starboard/blob/master/CONTRIBUTING.md

[2020-10-22 13:30] #31 closed

[2020-10-22 14:10] danielpacak opened #223 "[cli] Use deterministic names for VulnerabilityReports"
**What steps did you take and what happened:**

[code]

**What did you expect to happen:**

[code]

The name of a Vulnerability report should follow the patter: `<kind>-<resource name>-<container name>`

**Anything else you would like to add:**

We have deterministic names implemented for the operator and we want to be consistent.

**Environment:**

- Starboard version (use `starboard version`): 0

[2020-10-23 12:29] #212 closed

[2020-10-23 23:54] krisctl commented on #223
hi @danielpacak,

Happy to help if you are still looking for someone to take a look.

Thanks!

[2020-10-24 13:08] #223 closed

[2020-10-24 13:09] danielpacak commented on #223
Thanks @krisctl I took this one already.

[2020-10-24 21:10] #142 closed

[2020-10-26 10:38] danielpacak commented on #175
Thanks for all work @borkod This is very insightful. For kube-hunter I observed a similar behaviour even on a local KIND cluster, where a scan job hangs without any meaningful logs (see #126 ) Anyway the good news is that Trivy, Polaris, and kube-bench works. Let's close this one follow up in #126 to see why kube-hunter fails.

[2020-10-26 10:44] #175 closed

[2020-10-26 10:47] danielpacak commented on #176
@borkod Would you provide more details about your EKS cluster and logs dump?

[2020-10-26 10:54] danielpacak commented on #213
👋 @StatingPrism I was thinking more about the Starboard Operator. I'm not sure if we need such a cache for the CLI interface.

Anyway, caching a Trivy DB on a host and using hostPath volume mounts is a valid option, however some people might not like it because of PodSecurityPolicies that might prevent this type of volume. That said, I'd start with a discussion to evaluate and brainstorm this and

[2020-10-26 11:47] consideRatio commented on #213
I think its motivated to have some kind of k8s local cache service running, so that access to the vulnerability database would look something like this.

Trivy scanner pod <--> k8s local cache service <--> Vuln database at GitHub

If implemented like this, we would minimize requests to GitHub to the extent that we likely won't need any API key, and if we do it is a clear place to configure it, we

[2020-10-27 22:18] #202 closed

[2020-10-28 02:01] borkod commented on #176
Hi.
I don't have the cluster any longer. I just provisioned an EKS cluster to test the Getting started steps and then destroyed it. IIRC there wasn't anything special about it. EKS cluster with 3 EC2 instances for node pool.

I don't think I ran kube-bench or kube-hunter.

The only output I have are the audit report and vulnerability report:
[eks-reports.zip](https://github.com/aquasecurity/starbo

[2020-10-28 13:16] danielpacak opened #234 "[operator] Cannot save VulnerabilityReport for pods owned by Node"

[2020-10-30 14:17] krol3 commented on #176
I had a cluster in EKS, and AKS I could tested it and validate too

[2020-11-05 03:03] krol3 commented on #185
Hi @danielpacak , do you mean add Polaris in the starboard-operator? I found this related code, Will be?
- /cmd/starboard-operator/main.go
- pkg/operator/controller/reconciler.go

[2020-11-05 03:13] krol3 commented on #18
Hi @danielpacak, will be add a field "external_link" in the CRD?, other tools like OPA do we have integration with starboard?

[2020-11-05 03:16] krol3 commented on #19
Hi @danielpacak, is this issue related with RBAC https://github.com/aquasecurity/starboard/issues/23

[2020-11-05 03:18] krol3 commented on #176
Hi @danielpacak

I tested in EKS, no issues. This is the details and steps:

k8s version: v1.17.9-eks-a84824
Starboard Version: {Version:0.6.0 Commit:ad6b9b99931d7524806f79b1329fdda82c75a715 Date:2020-10-14T20:14:11Z}

- starboard sample deployment nginx
- starboard kube-bench
- starboard kube-hunter
- starboard polaris
- starboard config

[2020-11-05 03:18] krol3 commented on #203
Nice!! If it's available, I'd like to try

[2020-11-05 09:06] danielpacak commented on #203
Hey @krol3 I've got already PR for this one. For some reason it was not linked to this issue, but I fixed it

[2020-11-07 12:58] marsom commented on #213
Trivy has a client / sever mode, you could easily start one or more in server mode and use trivy in cleint mode to scan images. the only option starboard should have: --trivy-remote

see https://github.com/aquasecurity/trivy#client--server

[2020-11-09 08:52] #203 closed

[2020-11-09 19:25] n3rd253 commented on #120
@danielpacak

I am trying to make use of the above discussed functionality within AKS.  I am not finding that the operator pulls the imagePullSecret of the deployment.  In my case I am exposing the secret as imagePullSecret on the deployment level.

ACR Cred Secret:

data:
  .dockerconfigjson: eyJhdXRocyI6eyJhYWdh[...]HSm1PR016WkRkak1UY3dPa2t5T0M1K09XRkZYMHhLZFM1UUxsY3ROMkptT1RZd1J6ZDJZa2QrVW5GM1R

[2020-11-10 08:52] danielpacak commented on #176
Thank you @borkod and @krol3 for testing. I assume that there're no major issues when using Starboard with Amazon EKS and will proceed with closing this issue.

[2020-11-10 08:52] #176 closed

[2020-11-10 09:04] danielpacak commented on #19
Yes. I think this was one of the very first requirements captured for Starboard to manage access to security resources

[2020-11-10 09:32] danielpacak commented on #185
Yes. Currently we only reconcile VulnerabilityReports, but eventually we'd like to reconcile also ConfigAuditReports. This will involve changes in few other places, not only the files you mentioned.

[2020-11-10 10:00] danielpacak commented on #120
Hi @n3rd253 Currently we only support private registries with Starboard CLI. I hasn't been implemented for the operator yet, but we're working on that

[2020-11-10 11:51] danielpacak commented on #208
Yes. We're aware of this limitation and size limits imposed by etcd. To mitigate it we'll be stripping down Vulnerability properties to absolute minimum. For example, we'll delete the Description property and keep only a single link. In other words, we'd rather think of VulnerabilityReport as pointer to the data stored in external databased (e.g. https://avd.aquasec.com/nvd/cve-2020-11749/ ) rathe

[2020-11-12 18:47] n3rd253 opened #239 "starboard kube-hunter error: unknown flag: --interface"
**What steps did you take and what happened:**

Tried to run `kube-hunter --interface`

**What did you expect to happen:**
It scanned the network interfaces

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Starboard version (use `starboard version`): latest
- Kubernetes version (use `kubectl version`): 1.19
- OS (mac

[2020-11-13 10:09] danielpacak commented on #213
👋 @marsom Yes that's a good point and sth that I'm currently implementing. Trivy stand-alone mode would be the default one, but you could configure Trivy server URL (and optional token) to leverage Trivy client / server mode. Below you can find a high level diagram of such enhancement.

![starboard-trivy-cs](https://user-images.githubusercontent.com/1322923/99060620-95041580-25a0-11eb-9aac-aba62e0

[2020-11-13 23:50] #213 closed

[2020-11-14 01:42] #150 closed

[2020-11-17 19:00] danielsagi commented on #239
Hi @n3rd253 !
The `--interface` is intended for running kube-hunter manually on a host/container.
You might be confusing kube-hunter's original project and it's usage here on starboard.
When running with starboard, we backstage deploy kube-hunter with a `--pod` mode. it is hardcoded and meant to run this way.

Also a side note, `--pod` internally speaking is basically `--interface` mode on steroid

[2020-11-17 19:00] #239 closed

[2020-11-19 20:26] justisestell opened #242 "typo in docker details - and all through project"
**What steps did you take and what happened:**

[Typos in the readme](https://github.com/aquasecurity/starboard/blob/master/README.md#docker) make the project confusing for first time users.

I copied and paste the values listed in [the docker readme section](https://github.com/aquasecurity/starboard/blob/master/README.md#docker) and then realized, after trying a couple times, that the image name

[2020-11-23 09:14] #242 closed

[2020-11-23 09:18] danielpacak commented on #242
Thanks for the feedback @justisestell and I'm sorry to hear that you had problems pulling the image. I fixed the typos you pointed out so we do not confuse other folks.

Regarding the project ISSUE you could start a [discussion](https://github.com/aquasecurity/starboard/discussions) thread to make it better. In particular propose a way to review the docs or add some automated linter.

[2020-11-23 09:22] danielpacak commented on #189
I'm going to close this one for now. We're going to focus on Trivy in standalone and client-server modes.

[2020-11-23 09:22] #189 closed

[2020-11-23 16:39] danielpacak commented on #163
@akath19 Any update or blocker on this one? Shall I keep it assigned to you?

[2020-11-23 16:50] danielpacak commented on #162
It's over. Many thanks for everyone who participated and congratulations to the winners. See you next year!

[2020-11-23 16:50] #162 closed

[2020-11-23 16:52] danielpacak commented on #165
👋 @avats-dev Do you have any updated on this issue? Please let me know if you continue working on that one. Otherwise I'll leave it unassigned.

[2020-11-23 19:41] akath19 commented on #163
Sorry about that, I've been super busy at work.

I already have a basic PR for this, I'll send it soon

[2020-11-23 23:36] sylus opened #244 "Jobs try to run on Windows"
**What steps did you take and what happened:**

I am running a cronjob which calls starboard with -v3 kube-bench but notice that some jobs are unable to run as they are trying to execute on windows nodes.

P.S. Thanks for the amazing tool :D

**What did you expect to happen:**

The windows nodes are tainted.

**Anything else you would like to add:**

N/A

**Environment:**

- Starboard version (use

[2020-11-24 09:28] danielpacak commented on #163
No worries and no rush. It's just a ping. Feel free to split this issue into smaller PRs, e.g. for each scanner. That way we can make it less overwhelming and simpler to review.

[2020-11-24 09:32] danielpacak commented on #161
Closing as stale issue without info required to further troubleshoot. If you still have such issue please open a new one with enough details to investigate on our end.

[2020-11-24 09:32] #161 closed

[2020-11-25 12:13] danielpacak opened #245 "Document how to get started with the Starboard Operator"
The getting started should include:

1. Deploy starboard
   1. How to deploy
   2. How to check that it is deployed
2. Run your first scan
3. Review the scan results

/cc @jerbia

[2020-11-26 16:20] krol3 commented on #20
I could help with this issue @danielpacak

[2020-11-27 14:43] #21 closed

[2020-11-30 11:36] danielpacak commented on #188
Nothing to do on our side. It's confirmed and fixed in the scannercli.

[2020-11-30 11:36] #188 closed

[2020-11-30 11:43] jerbia opened #248 "Take Starboard configuration from ConfigMap"
Take all Starboard configuration items from ConfigMap.
This allows easier changes

[2020-11-30 11:44] jerbia opened #249 "Take Trivy Scanning parameters (JWT token, Trivy Server) from ConfigMap"
Read the Trivy server and JWT token from ConfigMap

[2020-11-30 16:01] danielpacak commented on #244
👋 @sylus Thank you for opening this issue. What would be desired behaviour in your case? Ignoring windows nodes (or in general any tainted node) and run kube-bench only on linux nodes?

[2020-11-30 16:01] sylus commented on #244
Yup @danielpacak i think that would be the solution i'd like to see :D

[2020-11-30 16:21] krol3 commented on #244
I'd like to test this, and try to do the fixes for this issue.
Thanks, @sylus, It seems that kube-bench doesn’t  support windows nodes. [More details](https://github.com/aquasecurity/kube-bench/issues/624)

[2020-12-02 18:48] danielpacak opened #255 "Run integration tests for Starboard Operators in the release workflow"
Currently we only run integration tests for Starboard CLI. We should run in parallel integration tests for the operator. All the scripts and make targets are there. It's just a matter of configuring GitHub actions workflow.

[2020-12-02 21:42] danielpacak opened #256 "Publish the Helm chart for Starboard operator to the Aqua OSS chart registry"
Whenever we release new version fo the operator it should be published to https://helm.aquasec.com

[code]

[code]

[2020-12-03 18:09] mmerrill3 opened #259 "Image scans fail with message unsupported MediaType: "application/vnd.docker.distribution.manifest.v1+prettyjws""
**What steps did you take and what happened:**
Ran starboard version 0.7.0, and received the message "unsupported MediaType: "application/vnd.docker.distribution.manifest.v1+prettyjws" when the scan job attempts to download the target image.

The image to be scanned is quay.io/bitnami/sealed-secrets-controller:v0.7.0

**What did you expect to happen:**

successful scan

**Anything else you would l

[2020-12-03 18:13] mmerrill3 commented on #259
Given, this is not necessarily a problem with starboard, but rather the docker implementation in use by starboard.  It only supports v2 images.

[2020-12-03 18:30] danielpacak commented on #259
👋 @mmerrill3 Thank you for trying out Starboard. The error is related to the container image with the manifest that is not supported by [Trivy](https://github.com/aquasecurity/trivy) v0.14.0, which is the underlying vulnerability scanner used by Starboard. AFAIK we're not going to support it in Trivy so there's nothing really we can do in Starboard to fix it.

[2020-12-04 10:34] lizrice opened #261 "Basic authentication support in Starboard Operator"
Starboard CLI supports basic authentication for accessing images in a private registry. We should support this for the Operator as well

[2020-12-04 10:38] lizrice commented on #248
ConfigMap is already [supported](https://github.com/aquasecurity/starboard#configuration)

There are additional parameters we need to add. I'm converting this issue to track configuration of custom headers passed to Trivy

[2020-12-04 10:40] lizrice commented on #249
Trivy URL is already configurable in the ConfigMap

[2020-12-04 10:44] lizrice commented on #248
Support running a command like `trivy client --custom-headers x-api-key:<key> --remote https://<server>/vs/v1/scan alpine`

[2020-12-04 10:52] lizrice opened #262 "[operator] Integrate kube-hunter scanner"

[2020-12-04 10:53] lizrice opened #263 "[operator] Integrate kube-bench scanner"

[2020-12-04 10:57] lizrice commented on #19
it's working this way already

[2020-12-04 10:57] #19 closed

[2020-12-04 10:59] lizrice commented on #69
On consideration it doesn't seem worth doing this at present, it doesn't appear that other Kubernetes tools go through this process

[2020-12-04 10:59] #69 closed

[2020-12-05 17:52] #259 closed

[2020-12-05 19:04] danielpacak commented on #70
Thank you @peddyspg  for the comment and sorry for reply but it got lost in this thread. Let's track this kind of additional requirements as a new discussion or request for enhancement. This issue is all about propagating errors from Kubernetes job to the Scanner CLI's output, which can be improved.

Please make sure to specify more more details when filing an issue. Explain how would you like Sta

[2020-12-07 14:06] #261 closed

[2020-12-09 14:17] danielpacak commented on #245
Already done https://aquasecurity.github.io/starboard/operator/ The GitHub page for the Starboard project is currently unlisted, but we'll link to it soon.

[2020-12-09 14:17] #245 closed

[2020-12-09 16:06] consideRatio commented on #234
For reference, this issue has a related discussion thread at https://github.com/aquasecurity/starboard/discussions/215#discussion-25235.

[2020-12-15 11:18] lizrice opened #278 "Support Azure Container Registry"
We have documentation for using Starboard to scan images in Amazon's ECR, we should work out what the equivalent is for Azure

[2020-12-15 11:20] lizrice opened #279 "Support Google Container Registry"
We have documentation for using Starboard to scan images in Amazon's ECR, we should work out what the equivalent is for Google Cloud

[2020-12-15 11:25] lizrice commented on #216
We probably do want to keep the static YAML files but perhaps there is a better way to keep them maintained

[2020-12-15 11:28] lizrice opened #280 "Handle Mutable tags (save different scan report per mutable tag)"

[2020-12-15 11:44] lizrice commented on #163
Hi @akath19, we're unassigning this for now so that someone else could pick it up. If your PR is ready or nearly ready and you can submit it soon please let us know and we'll assign it back to you. Thanks!

[2020-12-17 08:36] #248 closed

[2020-12-17 08:59] danielpacak commented on #249
Resolved by #282

[2020-12-17 08:59] #249 closed

[2020-12-17 09:02] danielpacak commented on #208
@consideRatio We've already removed Description and Links from VulnerabilityReport before we send it to the API server. I'm wondering if it helps in your case or we need to think about another fallback mechanism.

[2020-12-17 11:07] consideRatio commented on #208
Nice!

I assume this now is not going to happen in practice any more, or extremely seldom. I suggest that we close this issue and rely on this being reported again if it still is a practical issue.

The issue is now findable through using search engines and the error message of: `writing vulnerability reports: etcdserver: request is too large`.

For reference, at the time of writing, the latest re

[2020-12-17 11:07] #208 closed

[2020-12-21 11:21] pcheliniy opened #287 "Long job logs breaking job rotation by the operator"
**What steps did you take and what happened:**
We had to build 0.8.x operator version from the current mainline to have a possibility to make vuln scans for private repo images.
Everything works fine, but sometimes jobs stuck and aren't removed by operator.
After some time 3 jobs stuck and it prevents new scans.

**What did you expect to happen:**
Jobs don't stuck and correctly removed by operator

[2020-12-21 17:06] danielpacak commented on #287
Hi @pcheliniy Thanks for reporting this problem. I'll try to figure out what is going on. In the meantime, are you able to tell which container images are usually failing and whether I can pull them from public registry such as Quay.io or DockerHub? This might help me with reproduction.

[2020-12-22 10:03] pcheliniy commented on #287
Unfortunately, it's impossible to provide absolutely the same image.
But I made quite a similar image based on the same base image + apt packages + the same gems collection.
It's available on dockerhub `pcheliniy/longlogs:0.0.1`

I've tried to reproduce the mentioned problem with this image and fortunately, I did it.

[2020-12-22 15:53] pcheliniy opened #288 "[operator] Cannot create report because name too long"
**What steps did you take and what happened:**
We widely use various public helm charts and sometimes helpers in charts can generate very long resource names :)
Unfortunately, it leads to the following problem:
[code]

**Environment:**
- Starboard operator version: 0.7.1
- Kubernetes version: 1.18.9

[2020-12-22 18:00] danielpacak commented on #288
👋 @pcheliniy We're aware of this limitation and actually we plan to change the way we name and store VulnerabilityReports.

TL;DR; We're thinking about naming VulnerabilityReports by image digest. By doing that we'll eliminate the problem that you encountered. What's more, we'll store reports in more efficient way in case multiple workloads use the same image digest:

![starboard-scan-by-image-dig

[2020-12-23 11:50] djkormo opened #290 "Cannot use SecurityContext"
How to configure starboard via operator to use securityContext ?

k get pod,job -n starboard-operator
NAME                                             READY   STATUS                            RESTARTS   AGE
pod/16f0140e-2769-4b89-9d0e-c56c9f317bc2-4n4xm   0/1     Init:CreateContainerConfigError   0          33s

pod/starboard-operator-6759cbc887-2zzjz          1/1     Running

[2020-12-23 13:40] danielpacak commented on #290
👋 @djkormo Some scanners must run as root, e.g. Trivy v0.14.0 - the default vulnerability scanner integrated with Starboard Operator. Hence, we do not allow configuring SecurityContext for pods run by vulnerability scan jobs. Polaris, on the other hand, which is integrated with Starboard CLI, can run as non root.

We still have some tasks to implement least-privileged principle for other scanners,

[2020-12-23 14:30] danielpacak commented on #287
@pcheliniy I tried scanning the `pcheliniy/longlogs:0.0.1` with Starboard CLI and it actually worked in my dev environment. Although it has plenty vulnerabilities and huge logs output (~8.1M), the vulnerability report was saved in etcd successfully.

![longlogs](https://user-images.githubusercontent.com/1322923/103007178-3f257480-4533-11eb-9219-12f0fbb98b46.png)

Also the logs output is not croppe

[2020-12-23 14:55] djkormo commented on #290
So maybe  you shoud prepare manifests with  rbac for service account ?

[2020-12-23 14:59] danielpacak commented on #290
Well, we have RBAC rules for service account that is running the operator's pod and downstream scan jobs. See, for example, https://github.com/aquasecurity/starboard/blob/main/deploy/helm/templates/rbac.yaml
I don't see how is that related to SecurityContext though?

[2020-12-23 15:05] djkormo commented on #290
Maybe I'm wrong, but I cannot see  permission like this

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: starboard-operator-psp
  namespace: starboard-operator
rules:
- apiGroups:
  - policy
  resourceNames:
  - privileged
  resources:
  - podsecuritypolicies
  verbs:
  - use

[2020-12-23 16:02] danielpacak commented on #290
Okey so maybe without jumping into solutions straight away we should better understand what is the problem that you're trying to solve? I guess this is related to PodSecurityPolices enabled in your cluster. Could you provide more details about this setup? In particular what are the constraints that you usually put on workloads running in the cluster. Based on that we can think of RBAC config and /

[2020-12-24 11:27] pcheliniy commented on #287
@danielpacak I think we've figured out the problem.
K8s have some limitations in logging, I mean it rotates logs every 10Mb https://kubernetes.io/docs/concepts/cluster-administration/logging/#logging-at-the-node-level (see note at the end of the pointed paragraph)
This "rotation size" can be configured for kubelet and our cloud provider has a little bit harder settings :)

The problem appears if o

[2020-12-25 13:07] pcheliniy commented on #288
That's a really good idea.
I've checked our installation and if you realize your proposal we would halve the number of our reports.

[2020-12-30 11:18] rurus9 opened #292 "[cli] (starboard 0.7.1 get report) panic: runtime error: invalid memory address or nil pointer dereference"
Clean install (starboard release 0.7.1 from https://github.com/aquasecurity/starboard/releases/download/v0.7.1/starboard_linux_x86_64.tar.gz):

[code]
[code]
starboard get vulnerabilities seems to work OK
[code]
**Environment:**

- Starboard version (use `starboard version`): {Version:0.7.1 Commit:3c4342d2f344dd3aeea3fb1083c9d7a499bbcf2f Date:2020-12-05T18:05:28Z}
- Kubernetes version (use `kubect

[2020-12-30 11:54] rurus9 commented on #292
When I use starboard 0.6.0 to get report it works:
[code]

[2020-12-31 13:03] czunker opened #293 "[README example command] Command "polaris" is deprecated"
**What steps did you take and what happened:**

I experimented with starboard following some examples from the readme: https://github.com/aquasecurity/starboard#next-steps
Executing:
[code]
Resulted in this error message:
[code]

**What did you expect to happen:**

It's not a software bug, but outdated documentation.
Using the command as suggested works:
[code]

**Anything else you would like to a

[2021-01-04 06:55] #293 closed

[2021-01-04 08:05] danielpacak commented on #292
Thank you reporting this issue @rurus9 I can reproduce it in my env and we already have PR to fix it #295

[2021-01-04 10:16] danielpacak commented on #287
I'm glad that you sorted it out and I'm going to close the issue. If the logs rotation is still an issue we can reopen it and thing about solutions, but I hope you only run workloads with low number of vulnerabilities ;)

[2021-01-04 10:16] #287 closed

[2021-01-04 10:18] danielpacak commented on #288
Related to #280

[2021-01-04 15:35] #292 closed

[2021-01-05 09:59] danielpacak opened #298 "[cli] Use image digest to generate vulnerability reports"
Currently we use image tag and pass it to the active vulnerability scanner. This works for immutable tags, but has some drawbacks when a Kubernetes workload refers to a mutant image.

The possible solution is to get image ID / image digest from pod's container status and use it as arg passed to the vulnerability scanner. This also implies the following corner cases:

- 0 pods -> won't scan it -> e

[2021-01-06 16:34] danielpacak commented on #181
It's already done on the main branch. As documented in https://aquasecurity.github.io/starboard/configuration/, for each integrated scanner you can override its image reference:

- polaris.imageRef
- trivy.imageRef
- kube-bench.imageRef
- kube-hunter.imageRef
- aqua.imageRef

[2021-01-06 16:34] #181 closed

[2021-01-07 08:54] danielpacak opened #308 "Integrate MkDocs with jimporter/mike"
https://github.com/jimporter/mike

[2021-01-07 13:57] #255 closed

[2021-01-08 02:44] mlevesquedion opened #316 "Contributing guidelines refer to non-existent `integration-tests` make target"
**What steps did you take and what happened:**

`CONTRIBUTING.md` says:

Running this command in the shell, I get:

[code]

**What did you expect to happen:**

I was expecting the integration tests to run.

**Environment:**

I ran the command on a fresh clone of the repository, in the root of the repository, on the `main` branch.

[2021-01-08 12:21] #244 closed

[2021-01-08 22:32] mlevesquedion commented on #165
I'd be interested in taking a look at this.

[2021-01-08 22:33] mlevesquedion commented on #20
@krol3 are you still working on this?

If not, I would be interested in taking a look.

[2021-01-08 22:58] krol3 commented on #20
@mlevesquedion yeah you could take a look.  Thanks

[2021-01-08 23:09] #316 closed

[2021-01-08 23:11] danielpacak commented on #165
Please go ahead @mlevesquedion This one is really bothering me so it would be great if you find the root cause

[2021-01-09 15:28] bygui86 commented on #216
I know it's a bit more work, but for someone like me it's really a good alternative to have static YAML files. Maybe even generated by `helm template` but still split in multiple files.
I personally don't like at all Helm, because I really want to be in control of what and how gets deployed.
And I found already some issues with manifests generated by `helm template` because helm chart poorly maint

[2021-01-09 15:58] bygui86 opened #325 "Starboard-operator does not execute kube-bench, kube-hunter and polaris checks"
**What steps did you take and what happened:**

1. Deploy `starboard-operator` with static manifests
2. Updated `ConfigMap` and restarted operator
3. Following "Getting started" page in the doc, I deploy `nginx` in `default` namespace

Here the ConfigMap I use:
[code]

The operator starts properly the Job to execute checks, but at the end only `VulnerabilityReport` gets generated

**What did you e

[2021-01-09 17:42] mlevesquedion commented on #165
I was able to run the kube-hunter test locally using [act](https://github.com/nektos/act). The test passes.

The exact command I used was:

[code]

I had to use the `nektos/act-environments-ubuntu:18.04` image since the regular image `act` uses to emulate `ubuntu-18.04` runners was missing too many things (the regular image is `node:12.6-buster-slim`). The `nektos/act-environments-ubuntu:18.04` is

[2021-01-11 02:09] mlevesquedion commented on #165
I've been investigating the issue in #326. I haven't seen the test fail yet, but it does take a long time to run, around 15 minutes. From my investigation, this seems to be caused by some intensive port scanning done by `kube-hunter`.

When `kube-hunter` detects that it's running in Azure, it determines what subnets to scan by querying the metadata API. On the GitHub runner, apparently the answer

[2021-01-11 08:18] danielpacak commented on #325
This is expected behaviour. As documented [here](https://aquasecurity.github.io/starboard/operator/) the operator v0.8.0 only supports vulnerability scanners. We have the following issues to track integrations with Polaris #185, kube-bench #263, and kube-hunter #262

[2021-01-11 08:18] #325 closed

[2021-01-11 08:32] bygui86 commented on #325
@danielpacak thanks for the clarification.

I saw that schema but I thought it was the main behavior and other scans were like experimental.
Also considering that in another page of the doc I found further configurations.
Anyway hoping to see those features included soon :)

[2021-01-11 09:43] danielpacak commented on #325
No worries @bygui86 I'm sorry if the docs was confusing. The Starboard CLI has more features implemented in comparison to the operator. Anyway it's on our priority list to integrate other scanners in Q1 so stay tuned.

[2021-01-11 17:23] danielpacak commented on #165
Amazing analysis @mlevesquedion ! I checked your conclusion with @danielsagi , creator of kube-hunter, and he confirmed your reasoning. He also pointed out that there's the `--quick` flag to circumvent excessive port scanning, which would solve the problem with our GitHub Actions runner. I actually tried this flag and it worked!

That said, I'd add the `kube-hunter.quick` configuration parameter w

[2021-01-12 03:01] mlevesquedion commented on #165
Thank you! I've opened a PR implementing support for a `quick` configuration parameter in #331.

As a side note: is the `--quick` flag for `kube-hunter` documented somewhere? I couldn't find the docs for `kube-hunter`, but I did some digging in the codebase and it looks like the flag has been available for a while.

[2021-01-12 07:58] #165 closed

[2021-01-12 08:45] danielpacak commented on #165
I think the flag is not mentioned in the README. It's kind of tribal knowledge. @danielsagi do you think we can document as officially supported flag?

[2021-01-13 04:18] mlevesquedion commented on #20
@danielpacak could you give some additional info on how to produce this error message with `kubectl`?

Locally, When I remove `.kube/config` and unset `KUBECONFIG`, `kubectl` gives me this error:

[code]

(I am using the latest `kubectl`, GitVersion: v1.20.1)

`starboard` gives me a similar error:

[code]

(Using bin/starboard, on the main branch)

The issue seems to be that the config loading cod

[2021-01-13 11:43] danielpacak opened #334 "Add passing checks count to the ConfigAuditReport summary"
Currently we only have DANGER and WARNING counts in the ConfigAuditReport summary. We should display the number of passing checks as well.

[code]
[code]

[2021-01-13 13:27] danielpacak commented on #20
Indeed, it seems that things might have changed since I reported this issue. I believe that we bumped up client-go in the meantime.

I cannot get the desired message as originally reported as well. If the current message is meaningful we can close this one as invalid.

[2021-01-13 13:52] danielpacak opened #339 "[cli] The get vulnerabilities command should resolve reports owned by any object in the same workload hierarchy"
If a VulnerabilityReport is owned by ReplicaSet (the default behaviour of the operator) you cannot retrieve it with starboard CLI by specifying the Deployment as a command-line arg

[code]

If the VulnerabilityReport is not owned by a Deployment, the implementation should lookup the active ReplicaSet / revision and then find the report.

Similarly, when you specify a pod name as command-line argum

[2021-01-13 16:34] #70 closed

[2021-01-13 16:45] danielpacak commented on #36
I'd consider it done by #332 , which is published at https://aquasecurity.github.io/starboard/crds/

[2021-01-13 16:45] #36 closed

[2021-01-15 03:06] mlevesquedion commented on #20
Yeah, I think there's not much we can do, this looks like a `client-go` issue to me. I'll open an issue there. It seems to me that we should be seeing the error message you mentioned originally, but maybe this is WAI.

[2021-01-15 03:24] mlevesquedion commented on #163
I would be interested in picking this up.

[2021-01-15 03:31] mlevesquedion commented on #334
I would be interested in picking this one up.

[2021-01-15 08:51] danielpacak commented on #20
Closing according to the comments above.

[2021-01-15 08:51] #20 closed

[2021-01-15 09:40] danielpacak commented on #334
Cool. Please go ahead @mlevesquedion

[2021-01-17 09:38] #334 closed

[2021-01-17 16:25] danielpacak commented on #163
That's great @mlevesquedion . Please go ahead and consider splitting this task into smaller pull requests, e.g. review SecurityContext for each scanner one by one.

[2021-01-20 03:36] mlevesquedion commented on #163
I have been trying to run `kube-hunter` as a non-root user, but I have not succeeded so far. Even when I give all capabilities and privileged is set to `true`, the hunt fails, apparently because of this error:

[code]

I will need to dig deeper into this.

I have had better luck with `kube-bench`, PTAL:

[2021-01-21 16:20] #185 closed

[2021-01-23 17:24] mlevesquedion commented on #163
I took a deeper look at `kube-hunter`.

Fundamentally, the reason that adding `CAP_NET_RAW` to the `securityContext` is not enough is that doing this merely sets the container's `inheritable` and `bounding` capability sets. Since the kernel checks `effective` capabilities, and `kubernetes` does not support `ambient` capabilities, in order to actually be able to use the capabilities, either the bin

[2021-01-24 14:43] krol3 commented on #256
I would like to help with this issue

[2021-01-25 10:18] danielpacak commented on #256
As we discussed, instead of using Aqua Enterprise chart registry we'd like to have our own registry for all OSS projects including:
- Starboard Operator
- Harbor scanner for Aqua
- Harbor scanner for Trivy
- Trivy server

One option might be to use GitHub pages to host charts registry.

[2021-01-28 03:54] mlevesquedion commented on #339
I would be interested in working on this.

[2021-01-28 09:46] danielpacak commented on #339
That's awesome @mlevesquedion Please go ahead.

Notice that I edited the description to mention that we may want to introduce `starboard describe vulnerabilityreport/deployment-nginx-nginx` command to follow the `kubect get/describe` semantics. However, I don't think it's in scope of this change. We can improve the UX step by step.

[2021-01-28 17:47] lizrice opened #369 "kube-bench job doesn't auto-detect the CIS benchmark sections to run"
On a single-node cluster, running `bin/starboard scan ciskubebenchreports` only runs and reports the tests for section 1 of the CIS Kubernetes benchmark. Because it's acting as both the master and worker node, it should run tests for all 5 sections.

This should be easy to fix, we just need to [remove the target from the kube-bench command](https://github.com/aquasecurity/starboard/blob/336f1ce311

[2021-01-29 13:37] danielpacak opened #371 "Upgrade CRD definitions to apiextensions.k8s.io/v1"
See https://github.com/aquasecurity/starboard/discussions/368 for details.

NB This will impact the min version of Kubernetes that Starboard is compatible with. We should take that opportunity and properly document what are the requirements.

[2021-01-29 13:48] danielpacak commented on #290
@djkormo do you have any update on that? If not I'm going to close as stale issue.

[2021-01-29 13:50] danielpacak commented on #163
I asked @danielsagi  for advice how to proceed with this one. Let's see what he says.

[2021-01-29 14:05] djkormo commented on #290
Let's close.

[2021-01-29 14:41] #290 closed

[2021-01-29 16:12] #234 closed

[2021-01-30 17:46] danielsagi commented on #163
Red

Hi, very detailed research was going on here!
Love this.
Indeed until version v0.4.1in kube-hunter we relied on CAP_NET_RAW for scanning. That's why I released v0.4.1.

Cap_net_raw is not needed anymore from this version. So as I see it if you bump the version to v0.4.1 you can freely remove the Cap. This will not affect kube-hunter in any way.

[2021-02-01 08:43] #308 closed

[2021-02-01 09:43] danielpacak opened #373 "Manage pods controlled by Argo Workflow"
Pods created by [Argo] controllers are owned by Workflow objects. In this case Starboard fails to resolve the owner reference and cannot save a security report in etcd.

Pods controlled by Workflows or any other non-standard controller should be treated as unmanaged pods. Even though we could read an instance of Workflow in a generic way and set it as the owner of a VulnerabilityReport, this would

[2021-02-02 10:33] aleksfront opened #374 "Getting started guide link is broken on homepage"
`Getting started guide` link should be fixed to head proper documentation section

![Screenshot 2021-02-02 at 13 31 58](https://user-images.githubusercontent.com/9607060/106587903-39bc4080-655b-11eb-95e1-97835e7995ef.png)

[2021-02-02 16:21] #374 closed

[2021-02-02 16:21] danielpacak commented on #374
Thanks you @aleksfront for reporting that. It should be fixed now.

[2021-02-04 19:24] judexzhu opened #377 "ConfigAuditReports not working, no Scanner"
**What steps did you take and what happened:**

1. Installation follow the document
https://github.com/aquasecurity/starboard/blob/main/docs/operator/installation/olm.md
2. run `k create deployment nginx --image nginx`
3. go to lens check VulnerabilityReports and ConfigAuditReports

4. the Vulnerability has no problem
![image](https://user-images.githubusercontent.com/17834225/106942332-ea038380-6

[2021-02-05 15:27] danielpacak commented on #377
👋 @judexzhu Thanks for trying out Starboard. I double checked on my end but I could not reproduce the issue that you bumped into:

![lens_configauditreport](https://user-images.githubusercontent.com/1322923/107052526-0df4c100-67ce-11eb-8f41-614369e698ff.png)

![lens_version](https://user-images.githubusercontent.com/1322923/107052538-12b97500-67ce-11eb-8a65-f736e44816ed.png)

That said, would you

[2021-02-05 17:53] judexzhu commented on #377
@danielpacak Thanks for the quick reply

- [x ] Confirm that kubectl get configauditreport <name of the report> -o yaml does not contain checks performed by Polaris and does not provide the name of the scanner that was run. This is to check whether the report was saved in etcd by kube-apiserver after all.

[code]

![image](https://user-images.githubusercontent.com/17834225/107069524-f2ba8f00-6796-

[2021-02-05 20:34] #369 closed

[2021-02-05 20:59] #373 closed

[2021-02-08 10:52] mathieudebrito commented on #120
Hi guys !
Just discovered this awesome project and I was wondering why Starboard could not fetch the images from my private repo :p

Is there any news / ETA on this or is this something you don't consider to add on a short time ?

Thank you very much anyway, it's a great job !

[2021-02-08 11:52] danielpacak commented on #120
Hi @mathieudebrito Starboard CLI and Starboard Operator v0.9 should read image pull Secret from pod template as explained [here](https://aquasecurity.github.io/starboard/latest/integrations/private-registries/). If that's not the case it may be regression. I'll double check on our end.

Could you provide more details regarding the private registry used in your setup? Is it Docker Hub or a managed

[2021-02-08 13:35] mathieudebrito commented on #120
Hi @danielpacak Thank you for your quick answer !

- I installed yesterday the Starboard CLI and the Starboard Operator v0.9 (so I think they are up to date)
- We use Scaleway manage registry : https://www.scaleway.com/en/container-registry/ (auth token)

If it helps, the secret is created as follow :
[code]
Thank you again !

[2021-02-09 04:33] mlevesquedion commented on #339
Sorry about the lack of updates, I've been fairly busy lately. I have a bit more time now, and I plan to open a PR for this this week.

So far I have written a test case that validates that if you have a vulnerability report on a deployment, and you `get` the report on the corresponding replicaset, it will find and return the report that's on the deployment. The test is passing, but I will need to

[2021-02-09 17:55] danielpacak commented on #339
No worries @mlevesquedion Take your time with this change and do let me know if you need any help.

I would also suggest that you focus on CLI and ReadWriter implementation that relies on client-go library. The first / main thing that we want to fix is to retrieve the report by Deployment or pod name even though the actual report is stored by the operator at active ReplicaSet level.

I'm not sure

[2021-02-09 20:28] danielpacak commented on #120
Hey @mathieudebrito I can reproduce this error so it seems to be regression or a corner case that's not handled properly by Starboard (both operator and CLI as they share this functions). I'll track it down and try to fix in in the upcoming bug fix release v0.9.1.

Note: For some reason we cannot map registry server to container that refers to private image around these lines https://github.com/aq

[2021-02-10 11:06] danielpacak commented on #377
Thanks for providing logs and more details @judexzhu However, I still cannot figure out what might go wrong in your environment. I think we might want to add more debug statement in code to track down what is going on. In the meantime, would you check that Polaris works as expected when you [run in directly](https://polaris.docs.fairwinds.com/infrastructure-as-code/) or through Starboard CLI?

[co

[2021-02-10 16:25] judexzhu commented on #377
@danielpacak  No problem. Here is the result

[code]

but it looks like the same

![image](https://user-images.githubusercontent.com/17834225/107539031-6da9ee00-6b79-11eb-967a-59538100d0f6.png)

here is the configauditreports
[code]

[2021-02-10 16:40] judexzhu commented on #377
I found a way to output the job, it looks like the job output is okay, but dont know why not write into the configauditreports cr
[code]

Wish this could be help

[2021-02-10 19:41] danielpacak commented on #120
I found what was causing this problem. Essentially you can create image pull secret which is actually concatenation of registry server (`rg.pl-waw.scw.cloud`) and repository name (`private`). If that was the case Starboard could not parse registry server properly and match it with registry server taken from image reference

### This was causing problem in v0.9.0

[code]

### This would work in v0.

[2021-02-10 20:42] judexzhu commented on #377
I think it might have something related to olm, for I keep getting  api-server errors log
[code]
and cannot complete remove namespace , until I delete the packageserver on olm

current in starboard document the olm version is 0.16.1 but what I install is 0.17.0

I completely remove the olm and starboard-operator, using the starboard cli instead, and both vulnerabilityreports and configauditreports

[2021-02-10 20:56] mathieudebrito commented on #120
@danielpacak awesome thank you !
Indeed, I understand the issue is not the same, I should have created a new one, sorry :(

[2021-02-11 07:36] danielpacak commented on #377
That's interesting @judexzhu At least the CLI worked for you, which is great. I'm wondering if the operator worked if you'd installed it with [kubectl](https://aquasecurity.github.io/starboard/latest/operator/installation/kubectl/) or [Helm](https://aquasecurity.github.io/starboard/latest/operator/installation/helm/).

[2021-02-11 12:44] krol3 opened #384 "[helm] Error looking up service account"
**What steps did you take and what happened:**
The name of the serviceaccount is fixed to the name "starboard-operator"

k -n starboard-operator describe job scan-vulnerab-xxxx

[code]

[A clear and concise description of what the bug is, and what commands you ran.]

Create the helm chart with a different name than "starboard-operator"
[code]

**What did you expect to happen:**
The jobs accept the

[2021-02-11 16:45] judexzhu commented on #377
@danielpacak Yes. I just tried to use kubectl static install methods and the starboard operator works well too. we can close this issue and relate the problem to OLM. Thank you so much for the help!

[2021-02-11 16:46] #377 closed

[2021-02-12 17:25] #156 closed

[2021-02-12 17:25] #384 closed

[2021-02-12 19:42] judexzhu commented on #377
olm issue has been fixed by upgrading the Kubernetes cluster to v 1.19.7.
[code]
then I tried starboard-operator on olm again, it works flawlessly

Thank you so much for the support!!!

[2021-02-15 07:08] danielpacak commented on #377
This is great news @judexzhu Thanks for confirmation that it worked !

[2021-02-16 11:10] danielpacak opened #395 "Add AVD reference to KubeHunterReport CR"
Kube-Hunter returns avc_reference property so you can learn about detected vulnerability from AVD, e.g. https://avd.aquasec.com/kube-hunter/khv002/

We should extend the kubehunterreports CR to incorporate the AVD links.

[2021-02-16 11:17] danielpacak opened #396 "Export kube-bench reports to HTML"
Starboad CLI allows you to generate a vulnerability / config audit report and save it as HTML file. Similarly, we should generate a report for CIS Kubernetes Benchmarks

[2021-02-16 11:19] krol3 commented on #395
Nice issue, I'd like to help

[2021-02-16 11:57] #339 closed

[2021-02-16 20:20] maati55 commented on #120
Hi, any chance to add supporting the private registry to the Helm, please?
I'm getting this error:
`unable to initialize a scanner: unable to initialize a docker scanner: 2 errors occurred:\n\t* unable to inspect the image (****.azurecr.io/app:v1): Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?\n\t* GET https://****.azurecr.io/oauth2/token?scope=r

[2021-02-16 20:23] danielpacak commented on #120
Please create a separate issue for that @maati55 . This issue has nothing to do with Helm charts. We'll never close it if we report this way.

[2021-02-17 08:37] #163 closed

[2021-02-22 15:27] krol3 commented on #396
report :         Get a full html security report for a specified workload
This will be like this `starboard get report node/control-plane-1 `

[2021-02-23 15:50] #263 closed

[2021-02-23 15:55] danielpacak opened #409 "Describe the VulnerabilityReport CRD so it can be used with kubectl explain command"
Provide documentation for VulnerabilityReports:

[code]

We could provide similar docs to built-in resources and link to https://aquasecurity.github.io/starboard/latest/crds/#vulnerabilityreport for mode details and examples.

[code]

[2021-02-24 06:58] danielpacak opened #410 "[cli] HTML report for namespace - top 5 failed workload configuration checks"
Using Starboard CLI you can generate an HTML for a specified namespace:

[code]

Currently, the report shows only top 5 vulnerable images by severity count.

![html_report_namespace](https://user-images.githubusercontent.com/1322923/112464394-bdc4c480-8d63-11eb-8011-d69f990e33df.png)

We'd like to add another section with the following content:

##  Top 5 failed workload configuration checks

| Na

[2021-02-25 14:50] #371 closed

[2021-02-26 08:28] danielpacak opened #414 "Deleting a VulnerabilityReport should trigger rescan"
Starboard is watching Kubernetes workloads and if there're no corresponding VulnerabilityReports it schedules scan jobs and creates such reports. However, if a VulnerabilityRepot is deleted, the owning workloads won't get rescanned until it is updated.

We could trigger reconciliation cycle for above mentioned cases by specifying that VulnerabilityReports are owned by K8s workload (e.g. ReplicaSet

[2021-02-26 08:29] danielpacak opened #415 "Deleting a ConfigAuditReport should trigger rescan"

[2021-03-07 21:00] masaru2604 opened #421 "Vulnerability Scan not working on custom images ?"
**What steps did you take and what happened:**

Vulnerability Scan not working on custom images built hosted in Azure Container Registry?

I have 2 applications in my cluster ( ReactJS single page app and a .net core api ) I've installed Starboard Operator and configured to monitor the namespaces where they are but nothing it's being scanned, I tried multiple deployments.

**What did you expect to

[2021-03-08 11:43] danielpacak commented on #421
👋 @masaru2604 Is it a private or public Azure registry? If it's private how do you configure image pull credentials for your deployments? Are you using image pull secrets or cluster nodes are authorised to pull from the registry?

[2021-03-08 11:47] masaru2604 commented on #421
It's a private registry. I'm using the Azure Kubernetes Service and I authorized it to pull the images from ACR via Role Assignment
More details here: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-kubernetes

So, the vulnerability scanning works perfect on images from dockerhub, I'm using also ArgoCD in the cluster and those images are beeing scanned.

[2021-03-08 11:56] danielpacak commented on #421
I got it. I believe that the Starboard Operator supports AKS with ACR, but we've never tested it and we've never provided documentation for Microsoft Cloud setup. We have another issue to track a similar requirement #278

[2021-03-09 14:38] danielpacak commented on #421
Closing this one as it's related to AKS and ACR, not "custom images". Duplicate of #278

[2021-03-09 14:38] #421 closed

[2021-03-10 12:41] #396 closed

[2021-03-12 23:20] #415 closed

[2021-03-15 12:21] krol3 commented on #278
I'd like to help :)

[2021-03-17 11:00] danielpacak opened #433 "Bump up Polaris from v3.0 to v3.2"
Starboard is using Polaris (quay.io/fairwinds/polaris:3.0) as a configuration audit scanner. There's a new version that we should test for compatibility and integrate. The goal is to:
- [ ] Check what has changed in Polaris 3.2 and make sure that the output JSON is compatible with the parser that we've implemented.
- [ ] Update deployment descriptors (YAML) and Go code to refer to Polaris:3.2

[2021-03-18 06:48] #395 closed

[2021-03-18 12:10] krol3 commented on #256
@danielpacak , What do you think about these improvements to the Helm chart, in another release:
- Improve app chart release
- add to artifacthub.io

[2021-03-18 12:15] #256 closed

[2021-03-18 13:30] bgoareguer opened #435 "Some parameters cannot be defined within values.yaml"
**What steps did you take and what happened:**
Install starboard-operator with the Helm chart.
There is no way to configure all parameters that are stored in the `starboard` ConfigMap (e.g. Trivy server URL)

**What did you expect to happen:**
We should be able to configure all parameters from the `values.yaml` file.

**Environment:**

- Starboard version: 0.9.2
- Kubernetes version: 1.20.4
- OS:

[2021-03-18 13:40] danielpacak commented on #435
We separate generic Starboard Operator config params (e.g. metrics endpoint, target namespaces) from plugins config. Trivy is just a plugin, therefore its configuration is separated. You're supposed to edit starboard ConfigMap to adjust default scanner settings. Only generic Starboard config can be change with Helm values.

We'll further split the "monolith" `starboard` ConfigMap into `trivy` Conf

[2021-03-18 15:07] danielpacak commented on #435
Got you point. Actually I like the idea of having a separate ConfigMap template for each plugin. After all plugins are currently in-tree so this approach makes sense. Is this something you'd like to contribute?

[2021-03-18 15:08] bgoareguer commented on #435
Yes, sure!

[2021-03-18 15:12] danielpacak commented on #435
Great! Since we haven't started refactoring the `starboard` ConfigMap yet, let's just add template for it in phase 1. That would be something you requested. After refactoring ConfigMap we'll take care of updating the Helm chart.

[2021-03-19 10:21] #435 closed

[2021-03-19 12:59] bgoareguer opened #442 "More proxy settings needed for Trivy"
**What steps did you take and what happened:**

With Trivy in standalone mode, only the `HTTP_PROXY` proxy setting is available in the Trivy pod.

With Trivy in ClientServer mode, no proxy settings are passed to the Trivy pod.

**What did you expect to happen:**

In both modes, `HTTP_PROXY`, `HTTPS_PROXY` and `NO_PROXY` should be available in the Trivy pod as they are supported by Trivy. This woul

[2021-03-19 17:06] champness commented on #409
@danielpacak I'm not sure if this is possible at this time.  It looks like this was ruled out in https://github.com/kubernetes/kubernetes/issues/86800.

[2021-03-19 17:23] champness commented on #433
@danielpacak May I grab this one?

[2021-03-21 16:34] jan0ski commented on #414
Hey @danielpacak - I'd like to pick this up.

To clarify I'm on the right path, we'd need to create some new functions like `reconcilePods` to allow a `VulnerabilityReportReconciler` to watch and reconcile ReplicaSets and ReplicationControllers?  Would we then add these as new calls to `NewContorllerMangedBy` as you show above, or will these replace one for [watching pods](https://github.com/aquas

[2021-03-22 16:25] danielpacak commented on #414
Hey @jan0ski you're on the right track. We've done a similar thing for ConfigAuditReports here https://github.com/aquasecurity/starboard/blob/main/pkg/operator/controller/configauditreport.go#L58 The `reconcilePods` method was refactored to a generic `reconcileWorkload(GVK)` method.

[2021-03-23 00:40] RolandMa1986 opened #449 "Polaris results parse failed"
**What steps did you take and what happened:**
1. Run the scan command:
`starboard scan configauditreports pod/nginx`
2. Retrieve the report as bellow:
[code]
As you see, the report was empty.

**Anything else you would like to add:**
I have checked the Polaris  output results:
[code]
There are random logs at the first line instead of json output.

**Environment:**

- Starboard version (use `starb

[2021-03-23 13:42] danielpacak commented on #219
/cc @xyoxo

[2021-03-23 13:49] xyoxo commented on #219
Please, assign me on this @danielpacak . Thank you!

[2021-03-23 14:14] #433 closed

[2021-03-23 18:35] danielpacak opened #451 "Assign VulnerabilityReports to CronJob instead of Jobs"
**What steps did you take and what happened:**

Create a CronJob:

[code]

Deploy Starboard Operator and check VulnerabilityReports that are created for the Cron Job:

[code]

VulnerabilityReports are owned by Jobs, whereas Jobs are created and deleted based on Schedule, which can be quite frequent. On the other hand each CronJob has the PodTemplateSpec that does not change so we could save only o

[2021-03-23 22:00] #442 closed

[2021-03-23 22:07] danielpacak opened #453 "[operator] Test that a K8s controller is rescanned when the ConfigAuditReport is deleted"
We have an integration test that assert that a ConfigAuditReport instance is created when a new Deployment or ReplicaSet is created. We want to make sure that a K8s controller is rescanned when the ConfigAuditReport is deleted.

[2021-03-23 22:11] danielpacak opened #454 "[operator] Test scenario in which a Deployment is rescanned after a rolling update"
We have a basic integration test to assert that VulnerabilityReport and ConfigAuditReport is created for new Deployments. In addition to that we want to make sure that a new ReplicaSet controlled by the Deployment gets rescanned on rolling update event.

[2021-03-24 09:47] RolandMa1986 commented on #449
/assign

[2021-03-24 14:15] xyoxo commented on #454
Please assign me on this. Thank you!

[2021-03-24 21:16] danielpacak commented on #414
@jan0ski Do you mind if I pick this one? I'd like to resolve it and then fix #451 in the upcoming release

[2021-03-24 21:34] jan0ski commented on #414
Not at all, I hadn’t made much progress outside of reviewing the
configauditreport implementation anyhow.

On Wed, Mar 24, 2021 at 17:17 Daniel Pacak ***@***.***> wrote:

--
Thomas W. McCormick
Georgia Institute of Technology '18
School of Computer Science
770-366-7299

[2021-03-25 10:05] #219 closed

[2021-03-25 10:49] #454 closed

[2021-03-25 11:27] danielpacak opened #459 "[cli] HTML report for namespace - top 5 vulnerabilities by score"
Using Starboard CLI you can generate an HTML for a specified namespace:

[code]

Currently, the report shows only top 5 vulnerable images by severity count.

![html_report_namespace](https://user-images.githubusercontent.com/1322923/112466019-a8509a00-8d65-11eb-8de1-4f992b015521.png)

We'd like to add another section with the following content:

## Top 5 vulnerabilities by score

| ID | Severity |

[2021-03-25 11:45] danielpacak opened #460 "Add manually triggered GitHub Actions workflow to test Helm chart"
Before each release we have to manually test and validate Helm chart templates. Instead we could automated that and run such tests on GitHub. We'd start with a manual trigger and later on we could integrate it with the release workflow.

The steps could be:
- Build Starboard Operator to container image (a la make docker-build)
- helm install starboard-operator deploy/helm with default or custom va

[2021-03-25 12:39] xyoxo commented on #459
Please assign me on this.

[2021-03-25 12:39] xyoxo commented on #410
Please assign me on this.

[2021-03-25 12:46] xyoxo commented on #460
Some suggestions:
- `helm-install` `helm-uninstall` make commands to install/unistall helm chart.
- Some values can be modified/overridden by env var while installing the chart using make command.
- The make command will also wait for the operator pod to be ready.
- Update the integration test suite code to support external operator (i.e. helm charts).

[2021-03-29 18:49] #414 closed

[2021-03-29 18:49] #451 closed

[2021-03-29 20:33] #410 closed

[2021-03-30 09:53] steevi opened #468 "staboard-operator cannot pull images from ECR"
**What steps did you take and what happened:**
Install starboard-operator based on 0.10rc2

the rbac section in the values file is as follows:
[code]

Can see vulnerability reports being generated in all namespaces for public images but not for private images hosted in ECR

Seems the annations are appended in the sa, but still it doesn't work

The iam policy has been created based on the following

[2021-03-30 14:31] steevi commented on #468
Please find below an error log from the operator
[code]

[2021-04-01 14:12] #459 closed

[2021-04-07 14:08] danielpacak opened #479 "test(cli): Assert that ConfigAuditReports are created when Conftest is used as a scanner"
There are two plugins to audit config of K8s workloads, Polaris and Conftest. We have some integration tests for Polaris, but we'd like to add similar scenarios for Conftest.

[2021-04-07 14:22] danielpacak opened #480 "test(operator): Assert that ConfigAuditReports are created when Conftest is used as a scanner"
There are two plugins to audit config of K8s workloads, Polaris and Conftest. We have some integration tests for Polaris, but we'd like to add similar scenarios for Conftest.

[2021-04-07 14:29] xyoxo commented on #453
Please assign me

[2021-04-07 14:31] danielpacak opened #481 "Read Polaris config from the starboard-polairs-config ConfigMap"
Instead of reading config settings from starboard ConfigMap Polaris plugin should read its config from starboard-polairs-config Map. See how it's already done for Conftest plugin

[2021-04-07 14:35] xyoxo commented on #480
Please assign me

[2021-04-07 14:35] xyoxo commented on #479
Please assign me

[2021-04-07 14:35] xyoxo commented on #481
Please assign me

[2021-04-07 14:45] danielpacak opened #482 "Skip rescan when starboard-conftest-config ConfigMap is deleted"

[2021-04-08 08:42] danielpacak opened #483 "Conftest plugin shows negative pass count"
[code]

[2021-04-08 09:44] danielpacak commented on #409
👋 @champness I believe that kubernetes/kubernetes#86800 is a different issue. We do not want to describe built-in `metav1.ObjectMeta` but we'd like to document other properties such as the root `VulnerabilityReport` object and / or fields defined by the `Vulnerability` struct, e.g. `Severity`.

I did a quick test and it seems to work as expected (K8s v1.20.2, client-go v0.19.2):

![describe_crd](h

[2021-04-08 09:55] danielpacak commented on #409
Out of curiosity I checked what happens when we try describing the metadata object and indeed it fails (see line 101 in the code snippet below).

Our goal is to describe custom properties defined by Starboard CRDs and we can assume that everyone who's using `kubectl explain` command knows what is a K8s metadata.

![describe_metadata](https://user-images.githubusercontent.com/1322923/114006095-6f81

[2021-04-08 13:37] danielpacak commented on #409
NB the VulnerabilityReports CRD is duplicate in `deploy/crd/vulnerabilityreports.crd.yaml` and Go struct literal used to init the CLI. We should merge #484 and only add descriptions in `deploy/crd/vulnerabilityreports.crd.yaml`.

[2021-04-08 16:20] dschunack opened #485 "Bug in helm chart v0.10.0-rc4: error calling gt: incompatible types for comparison"
**What steps did you take and what happened:**
Hi,

we used the helm chart to deploy the version v0.10.0-rc4 on a test k8s, but the new chart is not working correct.
[code]
The code of the chart was change with pull request  #452

**What did you expect to happen:**
Installation without issues as in version v0.9.2

**Anything else you would like to add:**

I created a pull request to fix the issue.

[2021-04-08 19:36] #485 closed

[2021-04-10 22:48] #453 closed

[2021-04-10 23:04] #483 closed

[2021-04-12 06:56] #482 closed

[2021-04-13 05:54] #449 closed

[2021-04-15 11:39] bgoareguer opened #504 "Wrong arguments for Trivy client"
**What steps did you take and what happened:**

Deploy Starboard Operator with the Helm chart with the following values:
[code]

**What did you expect to happen:**
I expected the images to be successfully scanned with the Trivy Server and VulnerabilityReports resources to be created.

** Actual behavior **
The images are not scanned (no job created) and no VulnerabilityReport resource is created.

[2021-04-16 08:48] danielpacak commented on #504
Good catch @bgoareguer As a follow up we'll add automated test for Trivy in ClientServer mode to avoid similar regressions in the future.

[2021-04-16 08:53] #504 closed

[2021-04-16 10:01] #479 closed

[2021-04-19 09:38] #481 closed

[2021-04-19 13:54] danielpacak opened #509 "Conftest: configmap references non-existent config key: *****.rego"
**What steps did you take and what happened:**

Modify `starboard-conftest-config` ConfigMap by deleting the `runs_as_root_user.rego` policy after a scan Job was created but before it was actually run. This ends up with with the following error and Pod stuck in the Pending status:

[code]

**What did you expect to happen:**

The scan Job has completed even though the ConfigMap was updated.

**Anyt

[2021-04-19 14:03] danielpacak opened #510 "[Conftest] Scan jobs not scheduled on OpenShift platform"
**What steps did you take and what happened:**

Deploy starboard and create a test workload. ConfigAuditReports are not created due to scan jobs failing with the following error:

Error creating: pods "scan-configauditreport-75c79bdcbb-" is forbidden: unable to validate against any security context constraint: [spec.containers[0].securityContext.runAsUser: Invalid value: 1000: must be in the range

[2021-04-20 09:03] danielpacak opened #512 "Follow up on non zero exit code returned by Conftest in case of failures"
Follow up on https://github.com/open-policy-agent/conftest/issues/544

[2021-04-20 09:23] #509 closed

[2021-04-20 09:36] danielpacak opened #513 "Follow up on controller-runtime client.Client that does not respect client.Limit option"
Follow up on https://github.com/kubernetes-sigs/controller-runtime/issues/1422

We use the client.Limit option in plugins config reconciler to delete ConfigAuditReports in batch.

[2021-04-20 12:36] danielpacak opened #514 "Fix RBAC config when OwnerReferencesPermissionEnforcement admission controller plugin is enabled"
https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#ownerreferencespermissionenforcement

[code]

[code]

[code]

[2021-04-20 13:43] danielpacak opened #515 "Cannot deploy Starboard Operator on OpenShift Container Platform (4.7)"
36s         Warning   FailedCreate        replicaset/starboard-operator-79ffdf5bcf      Error creating: pods "starboard-operator-79ffdf5bcf-" is forbidden: unable to validate against any security context constraint: [provider restricted: .spec.securityContext.fsGroup: Invalid value: []int64{10000}: 10000 is not an allowed group spec.containers[0].securityContext.runAsUser: Invalid value: 10000: mu

[2021-04-21 07:04] #510 closed

[2021-04-21 12:12] #514 closed

[2021-04-21 12:18] dschunack opened #518 "AWS: Error creating Jobs - Label has more than 63 characters"
**What steps did you take and what happened:**
The job creation for kube-Bench scan causes an error. Too many characters for the label if you run it on AWS.

**"error":"creating job: Job.batch \"scan-kubebenchreports-ip-100-96-5-57.eu-central-1.compute.internal\" is invalid: spec.template.labels: Invalid value: \"scan-kubebenchreports-ip-100-96-5-57.eu-central-1.compute.internal\": must be no more

[2021-04-21 16:09] #518 closed

[2021-04-21 18:44] #515 closed

[2021-04-22 07:01] danielpacak commented on #518
Thank you for reporting the issue @dschunack We've fixed it by hashing the name of a node so the scan job is named as `scan-cisbenchmark-<hash>`. The fix is available in v0.10.1

[2021-04-22 07:46] danielpacak opened #524 "Ensure default config should not create ConfigMap for Polaris when it is not chosen as plugin"

[2021-04-22 08:45] danielpacak opened #525 "Upgrade OLM from v0.16.1 to 0.17.0"
In the [installation docs](https://aquasecurity.github.io/starboard/v0.10.1/operator/installation/olm/) and in CONTRIBUTING.md we refer to OLM v0.16.1
We should test and update to the recent v0.17.0

[2021-04-22 12:53] danielpacak opened #527 "Use deterministic names for Secrets created by Conftest plugin"

[2021-04-23 10:58] #524 closed

[2021-04-26 15:34] danielpacak opened #537 "feat: vulnerability rescan of K8s workloads based on report TTL"
This is a placeholder to specify how such functionality can be implemented

[2021-04-27 08:14] danielpacak opened #538 "Add tolerations to vulnerability scan jobs spawned by Starboard"
In a cluster where (all) nodes are [tainted](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/) scan jobs created programmatically by Starboard would fail. See also #507.
One solution would be to configure tolerations at startup, e.g. in the `starboard` ConfigMap.

1. [ ] To get started add tolerations to scan Jobs scheduled by a vulnerability scanner.
2. [ ] Make sure

[2021-04-27 08:22] danielpacak opened #539 "Add annotations to scan jobs spawned by Starboard"
See #356

[2021-04-27 11:48] #525 closed

[2021-04-27 15:34] danielpacak opened #541 "feat(trivy): Pass additional settings to Trivy client"
According to #337 we should add the following arguments to Trivy settings and pass them down to the scan job's command:
- [ ] `ignore-unfixed` - display only fixed vulnerabilities
- [ ] `ignorefile` - specify .trivyignore file
- [ ] `skip-files` - specify the file path to skip traversal

[2021-04-29 13:56] danielpacak opened #543 "[cli] Run Kube-bench on individual nodes"
See #108

The scan ciskubebenchreports command should accept a list of node names to scan:

[code]

It should fallback to scan all nodes if names where not specified:

[code]

[2021-04-29 14:25] krol3 commented on #543
I'd like to help with this issue.

[2021-04-30 11:11] xyoxo commented on #541
Please assign me

[2021-04-30 12:44] danielpacak opened #545 "feat(trivy): Configure insecure image registries"
We do not recommend that but if someone is using the image registry with a self signed or invalid certificate, e.g. for POC, Trivy plugin will fail.
Trivy supports TRIVY_INSECURE env to skip certificate verification and pull the image after all. For a list of configured registries we should pass the env to a scan Job:

[code]

See #473

[2021-04-30 12:48] danielpacak opened #546 "feat(trivy): Configure custom certificate authorities for image registries"

[2021-04-30 16:02] xyoxo commented on #545
Please assign me

[2021-05-02 22:08] krol3 commented on #539
I'd like to help with this issue.

[2021-05-06 03:51] yuzujoe opened #551 "Pod status becomes BackOff and fails to start"
**What steps did you take and what happened:**

Hi !!

I have been using starboard for container vulnerability scanning on kubernetes.
In that case, it failed to start and I saw the error

[code]

**What did you expect to happen:**

This looks like an error on the k8s side, but when I checked to see if there were any other errors, I found that.

[code]

This error is occurring because the Pod in t

[2021-05-06 04:15] yuzujoe commented on #551
If I fix the version of helm chart to 0.5.1, I don't have this problem anymore, although I have another problem

[2021-05-06 10:28] danielpacak commented on #551
👋 @yuzujoe What is that another problem that you mentioned?

[2021-05-06 12:50] yuzujoe commented on #551
@danielpacak

Sorry, changed title.
Do you understand what I mean? 🙇‍♂️

Maybe, I think it's a problem here.
https://github.com/aquasecurity/starboard/issues/518

I thought this problem was fixed in the latest image, is that not the case?
I'm using helm chart version 0.5.1

[2021-05-07 01:34] yuzujoe commented on #468
@steevi
Hi steevi !!

I used the eksctl command to create a service account, did you create it here?
https://aquasecurity.github.io/starboard/v0.10.1/integrations/managed-registries/

**My Environment**:
- Starboard version: 0.10.1
- Kubernetes version: EKS 1.19

[2021-05-07 16:04] #480 closed

[2021-05-09 19:01] #512 closed

[2021-05-09 20:20] #545 closed

[2021-05-10 15:27] danielpacak opened #559 "error: [metadata.labels: Invalid value: "123456789012345678901234567890123456789012345678901234567890123-57f6c7cffd": must be no more than 63 characters"
**What steps did you take and what happened:**

[code]

[code]

[code]

**What did you expect to happen:**

The ConfigAuditReport named `replicaset-123456789012345678901234567890123456789012345678901234567890123-57f6c7cffd` has been created in the default namespace

**Anything else you would like to add:**

The main problem here is that we're trying to label the scan job with a value that exceeds

[2021-05-11 01:25] yuzujoe commented on #551
@danielpacak The issue in #518 is not related to this issue, so this issue is closed.

[2021-05-11 01:25] #551 closed

[2021-05-11 07:41] yashvardhan-kukreja commented on #559
Yep, so let's first of all decide how do we want to treat labels with >63 chars.

- Should we just truncate them to 62 chars and then, suffix that truncated string with `*` to signify that it got truncated. For example, say, there's a deployment with the name `......abcde` (65 character name ending with abcde)
For that, starboard can't utilise the full name as the label value would be >63 chars. H

[2021-05-11 07:42] yashvardhan-kukreja commented on #559
But there is an edge case in that situation, and that is say there are two deployments: `.......abcde` and `......abcdx` (both of 65 chars). For both of them, the truncated label value would be `......ab*` and if Starboard (behind the scenes), is making use of the label value programmatically to take job-level decisions then, thats gonna cause problems because it won't be able to identify between

[2021-05-11 08:58] danielpacak opened #561 "Flaky integration test"
There's one integration test for the CLI that's failing from time to time. We should figure out why and fix it. Below you can find the logs of a sample run that failed:

[code]

[2021-05-12 16:07] danielpacak opened #569 "Handle legacy image pull secrets of type kubernetes.io/dockercfg"
**What steps did you take and what happened:**

Define image pull secret in legacy format

**What did you expect to happen:**

Starboard does not fail

**Anything else you would like to add:**

The kubernetes.io/dockercfg type is reserved to store a serialized ~/.dockercfg which is the legacy format for configuring Docker command line.

[code]

[code]

**Environment:**

- Starboard version (use `s

[2021-05-12 20:08] jeremeb opened #572 "Resource limits not affecting scan-vulnerabilityreport pods"
**What steps did you take and what happened:**

After deploying the starboard-operator-0.5.1 chart, I found that the scan-vulnerabilityreport pods do not have the CPU/Memory resource limits set from the values file.  The operator however did have the correct resources set.

**What did you expect to happen:**

I expected the trivy scan-vulnerabilityreport pods being ran from the starboard-operator

[2021-05-13 11:02] danielpacak commented on #572
That is correct @jeremeb In v0.10.2 resource requests and limits for scan jobs are hardcoded.

[2021-05-14 09:10] danielpacak opened #576 "Running Polaris on OpenShift fails"
**What steps did you take and what happened:**

[code]

**What did you expect to happen:**

ConfigAuditReport has been created

**Anything else you would like to add:**

N/A

**Environment:**

- Starboard version (use `starboard version`): v0.10.2
- Kubernetes version (use `kubectl version`): OpenShift 4.7
- OS (macOS 10.15, Windows 10, Ubuntu 19.10 etc): any

[2021-05-14 10:38] #569 closed

[2021-05-14 10:47] danielpacak commented on #572
I'd relate somehow this issue to #538 #539 where we configure scheduling params for scan jobs

[2021-05-14 11:06] danielpacak opened #579 "Running kube-hunter on OpenShift platform fails"
**What steps did you take and what happened:**

[code]

**What did you expect to happen:**

The KubeHunterReport named cluster has been created

**Anything else you would like to add:**

We should revisit SecurityContext of scan jobs running kube-hunter and see if we can make them run by default on OKD. If not we should document how to add the `starboard-operator` service account to the privileged

[2021-05-14 11:10] #576 closed

[2021-05-14 11:13] danielpacak opened #580 "Running kube-bench on OpenShift fails"
**What steps did you take and what happened:**

[code]

**What did you expect to happen:**

CISKubeBenchReport instances created for each cluster node.

**Anything else you would like to add:**

N/A

**Environment:**

- Starboard version (use `starboard version`): v0.10.2
- Kubernetes version (use `kubectl version`): any
- OS (macOS 10.15, Windows 10, Ubuntu 19.10 etc): any

[2021-05-14 13:25] danielpacak opened #584 "Add Starboard Operator to OpenShift Console"
We should allow installing Starboard directly from the OpenShift Console:

![starboard_okd_console](https://user-images.githubusercontent.com/1322923/118276913-7edfff00-b4c8-11eb-8c8b-0042f56afb2e.png)

[2021-05-14 13:46] danielpacak opened #585 "Enable contributors to sign CLAs from within a pull request"

[2021-05-14 21:17] yashvardhan-kukreja commented on #298
Hi @danielpacak, I'd love to pick this issue up :)
I actually looked into the codebase around solving this issue and have a rough prototype ready adding this feature.
So, if you can assign this issue to me, I can clean up my prototype, raise a PR and give you a look of it 😊

[2021-05-14 21:57] champness commented on #538
@danielpacak This issue talks about adding tolerations to the `starboard` ConfigMap, but would it be more correct to say that the toleration should be added to the PodSpec?

[2021-05-14 22:13] champness commented on #538
@danielpacak Another point of clarification: When you say that the scan jobs fail, you're referring to the fact that the scanner pod never get scheduled onto a node because the taint prevents it, is that correct?  I can confirm that in my minikube single-node cluster, if I taint the node, then the `starboard scan` command hangs, and I can see the starboard pod stuck in `Pending` status until I rem

[2021-05-14 22:41] danielpacak commented on #538
To be precise we want to configure which taints Starboard accepts by defining some config param to the starboard ConfigMap. Tolerations themselves are added to the PodSpec.

We consider a job that has stuck as failed one because we're not getting a VulnerabilityReport (unless you remove taints). This actually would be another enhancement / PR to fail fast instead of waiting forever.

[2021-05-15 04:18] yashvardhan-kukreja commented on #298
Update: I have the PR ready (cleaned up) and with tests :D
Let me know if I should go ahead and raise it :)

[2021-05-16 23:06] yashvardhan-kukreja commented on #539
Hi @krol3 @danielpacak
Do you folks mind if I pick this issue up if this issue hasn't been progressed upon yet? 😊

[2021-05-17 03:11] krol3 commented on #539
@yashvardhan-kukreja  You can take it

[2021-05-17 04:54] yashvardhan-kukreja commented on #539
Thanks @krol3 :D

[2021-05-17 05:35] yashvardhan-kukreja commented on #539
@danielpacak Here if I am not wrong, the user (who raised the discussion) wanted to provide custom annotations in runtime.

So, I am thinking something like a new argument called, say, `custom-scanjob-annotations` (we can go with a better name :P) which the user would be able to provide as a part of the `starboard scan vulnerabilityreports` command. Multiple annotations can be just added in a comm

[2021-05-17 07:00] danielpacak commented on #539
👋 @yashvardhan-kukreja I think command line args will do the job for Starboard CLI but we have to provide the same behavior for Starboard Operator. Both read config from the *starboard* ConfigMap (see https://aquasecurity.github.io/starboard/v0.10.3/settings/). So IMO it would be better to add custom annotations to the *starboard* ConfigMap. WDYT? This will allow the following flow:

[code]

[2021-05-17 07:56] yashvardhan-kukreja commented on #539
Yep, Good point. Let's go ahead with making the user provide custom annotations via the ConfigMap.

Although, I am still a lil skeptical about running a shell script like "add-custom-annotations.sh" to patch the cm.
Doesn't look the most UX-friendly, in my opinion.

May be, some other cleaner approach can be used?
Like for example, a starboard command like `starboard configure-custom-annotations a

[2021-05-17 08:17] danielpacak commented on #539
The ./add-custom-annotations.sh was just a placeholder to indicate that a user will have a chance to customise default config params and add annotations. Whether it's kubectl patch or starboard subcommand is secondary. We can always improve the UX in subsequent PRs. For UX / editing config I'd leverage the existing `starboard config` command, which currently works in read-only mode.

[2021-05-17 08:34] danielpacak commented on #298
That's great news @yashvardhan-kukreja Before we proceed with changes in code we should also plan for migration and backward compatibility. Ideally we should fallback to the current implementation as this will turn the way we store VulnerabilityReports and associate them with built-in Kubernetes resources upside down. There are downstream integrations that rely on how it's implemented, e.g. Octant

[2021-05-17 08:55] yashvardhan-kukreja commented on #298
Sure, let's do that 👍🏼

[2021-05-17 09:09] danielpacak commented on #298
This project is still incubation and we don't have any formal template for proposals, but I drafter this document where we can discuss some high level design and other requirements.

https://docs.google.com/document/d/130vNBwa6Q0ZXx7xJqT41X0L5vppvSbbVfW0gmHn887M/edit?usp=sharing

[2021-05-17 09:55] yashvardhan-kukreja commented on #298
Sure 👍🏼 , it says access denied for me though. I have requested access for it

[2021-05-17 10:00] yashvardhan-kukreja commented on #298
Meanwhile, I guess I can still raise the PR which I cooked and mark it with "WIP" and later on, once we are done with design phase, I can augment over that PR itself.

[2021-05-17 10:14] danielpacak commented on #298
Sure. WIP / Draft PR is fine so long you keep it up to date with the main code branch by rebase

[2021-05-17 16:32] yashvardhan-kukreja commented on #539
Got it, sounds good 👍🏼

[2021-05-19 06:25] yashvardhan-kukreja commented on #539
👋 @danielpacak I have made the PR dealing with this feature. One thing to note here is that I haven't added any functionality/sub-command around making the user input the custom-annotations in the first place, as that topic is still under discussion.

Meaning, as of the current state of the PR, the user (or us while testing) would have to manually patch the starboard configmap with the custom anno

[2021-05-19 08:38] #538 closed

[2021-05-19 10:09] danielpacak commented on #539
We prefer smaller tasks / PRs. Do one thing at a time and then incrementally improve in the subsequent PR. Otherwise we're dealing with giant PRs that are hard to comprehend and validate. That said, it's perfectly find to add new config param that's recognised by Starboard and document that it has to be patched manually. In the next iteration we might think of flags or command-line args.

[2021-05-19 12:29] #541 closed

[2021-05-19 16:37] yashvardhan-kukreja commented on #539
Sure, Daniel. Will make sure to cook smaller PRs at one time from next time onwards.

Speaking of the functionality in which custom annotations will be fed:
For CLI: Using the `starboard config` command to feed the custom annotations
For the Operator: the custom annotations can be fed via kubectl patch or via values.yaml at the time of helm installation.

Is that fine?

[2021-05-19 20:23] jeremeb commented on #539
Could we also add in the ability to update Trivy pod resource limits requested in !572?

[2021-05-19 20:50] danielpacak commented on #539
According to contribution guidelines and to facilitate maintenance / code review we'll add resource limits and requests in a separate PR.

[2021-05-21 12:27] goosedeersolutions opened #592 "scan-cisbenchmark - failure in a Windows system call: The user name or password is incorrect."
I have a Kubernetes cluster that consists of a Windows node and a Linux node. When I install the starboard operator, it triggered two job - scan-cisbenchmark - one for each node. The job running on the Linux node ran successfully, however the job for the Windows node is throwing an error:

[code]

I may be being an idiot but I didn't see in the guide where you would add this username or password.

[2021-05-21 20:28] danielpacak opened #594 "Log error when scan job is failing due to insufficient resources (cpu / memory)"
**What steps did you take and what happened:**

Deploy Starboard Operator in a cluster with insufficient cpu resources and create a workload that should be scanned automatically
However, the vulnerability report was not created and the failing job was deleted without any error in the operator logs

**What did you expect to happen:**

A vulnerability reports stored as custom resourced or meaningful

[2021-05-22 09:48] #539 closed

[2021-05-23 16:17] #561 closed

[2021-05-24 12:30] danielpacak commented on #592
👋 @goosedeersolutions KubeBench can only be run on Linux nodes. Therefore, for Starboard CLI we skip Windows nodes explicitly by looking at the `kubernetes.io/os` (see [here](https://github.com/aquasecurity/starboard/blob/main/pkg/cmd/scan_ciskubebenchreports.go#L78)). IIRC we haven't done that for the operator so that would be a bug. Could you just confirm what is the value of the `kubernetes.io/

[2021-05-24 17:37] yashvardhan-kukreja commented on #539
Hi @danielpacak , I guess we can create another issue to work upon the functionality/capability to allow the user to feed the scanJob annotations comfortably instead of doing so via kubectl patching the configmap.

We can track the discussion further around this topic here https://github.com/aquasecurity/starboard/discussions/595 :)

[2021-05-24 18:02] danielpacak commented on #539
I'd start with the discussion if we really need such functionality. If you look at the numer of available configuration settings maintaining them as CLI flags might be more expensive than just patching a ConfigMap. At least at this stage of this project. On the other hand there are structured config params such as annotations, tolerations, resource requests/limits that are hard to represent as CLI

[2021-05-24 20:46] yashvardhan-kukreja commented on #539
Yep, that's what I was conveying too that we can keep track of the ideas around this functionality on that "Discussion" thread which I created.
I was just exemplifying when I suggested that we could feed scan job annotations via cli args 😊

[2021-05-25 09:25] danielpacak opened #601 "[POC] Evaluate PolicyReport CRD by Kubernetes wg-policy"
Starboard is using proprietary VulnerabilityReport CRD to represent weaknesses found in container images. As an alternative or replacement we may consider [PolicyReport](https://github.com/kubernetes-sigs/wg-policy-prototypes/blob/master/policy-report/README.md).

In scope of this POC we should evaluate PolicyReport CRD by mapping Trivy JSON output to PolicyReport schema and identify any issues /

[2021-05-28 08:29] #592 closed

[2021-06-04 14:48] danielpacak opened #617 "Allow using Starboard with Trivy plugin in air-gapped environments"
TBD

[2021-06-09 09:01] goroi opened #619 "scan-vulnerabilityreport Job OOMKilled"
starboard-operator configured to use trivy 0.18.3 image insted of default trivy 0.16.0.

Some containers can not be scanned due to OOMKilled for the jobs.

 [memory resources predefined ](https://github.com/aquasecurity/starboard/blob/main/pkg/plugin/trivy/plugin.go#L30).

 Are you planning to expose job resource limits so that the user can set upper limits ?

**Environment:**

- Starboard version

[2021-06-09 09:19] danielpacak commented on #619
👋 Trivy v0.18.3 adds support for Go and Java scanning and therefore requires more resources that what is currently hardcoded for vulnerability scan job created by Starboard. We do have #572 to make resource requests and resource limits configurable so I'll close this one as duplicate.

[2021-06-09 09:19] #619 closed

[2021-06-14 06:11] #513 closed

[2021-06-14 12:48] glimpsec commented on #537
A nightly rescan, specifically with Trivy, would help us recognise newly discovered CVE's in production workloads. If Trivy only scans on pod change, older pods won't have a recent scan. Old pods have an increased risk of running vulnerable images.

We're excited about the Starboard project, and this feature would make us reconsider it for production use.

[2021-06-17 13:01] danielpacak commented on #572
The Trivy plugin sets resource requests and resource limits from the hardcoded struct literal (defaultResourceRequirements). However, it's desirable to configure these values, e.g. increase memory limits, without recompiling Starboard.

- [ ] Firstly, we have to decide whether resource requests and limits are configured for all scan jobs spawned by Starboard (in starboard ConfigMap) or per plugin

[2021-06-23 15:33] mag009 opened #627 "Panic observed in kube.(*logsReader).GetLogsByJobAndContainerName"
**What steps did you take and what happened:**

I tried with one namespace and it worked the operator does not crash. But for one particular namespace the operator crash
it seem to crash on a particular cronjob as soon as i delete the cron the operator work.

**What did you expect to happen:**
Jobs to trigger vulnerabilities on all namespaces.

- Starboard version : 0.10.3
- Kubernetes version : v

[2021-06-23 20:31] kfox1111 commented on #537
This would be useful. when we started playing around, we noticed that deleting the VulnerabilityReport object caused it to immediately rescan when using the operator. Maybe all that is needed is a cronjob that deletes all VulnerabilitieReports.

[2021-06-24 17:32] kfox1111 commented on #39
if you can run your own trivy container, you could rebuild it with up to date CVE DB info periodically. Can you specify which trivy image to use to starboard?

[2021-06-26 14:16] danielpacak opened #631 "Upgrade kube-hunter to v0.6.1"
See https://github.com/aquasecurity/kube-hunter/issues/465

[2021-06-28 18:47] dominicpg opened #632 "confusing name syntax in vulnerability report output"
This seems a cosmetic issue though, I am reporting this to get fixed. Stadboard detects and return confusing name syntax when queried over starboard kubectl plugin.

$ kubectl run testpod --image=nginx:1.20
pod/testpod created

Name in output is "pod-testpod-testpod" while the name of original pod is "testpod"

$ kubectl get vuln -o wide
NAME                  REPOSITORY      TAG    SCANNER   AGE

[2021-06-28 21:56] danielpacak commented on #632
As explained on [Custom Resource Definitions - VulnerabilityReports](https://aquasecurity.github.io/starboard/v0.10.3/crds/#vulnerabilityreport) we use the `<workload kind>-<workload name>-<container name>` convention to name instances of VulnerabilityReport resources.

There are two reasons for that:
1. You can create a Deployment and (theoretically) name it `testpod`:
[code]
   Without workload

[2021-06-29 08:54] #632 closed

[2021-07-02 10:41] Timoses opened #635 "Bombardment of 'scan-cisbenchmark-' pods"
**What steps did you take and what happened:**
1. Installation steps from here: https://aquasecurity.github.io/starboard/v0.10.3/operator/installation/kubectl/
2. Edited Starboard deployment to use image from our private image registry
3. Lots of 'scan-cisbenchmark-' pods were generated (over 2600)
    * Why? Starboard configmap by default is configured to use container images from docker.io which

[2021-07-02 11:26] Timoses commented on #635
After correcting the imageRef of kubebench it fails as it is unable to mount various mounts.
We deploy with RKE/Rancher which uses different directories. It still produces a bombardment of pods ; ).

[2021-07-02 11:35] danielpacak commented on #635
👋 @Timoses I'm sorry to hear that Starboard is causing such trouble. We do actually have configurable limit on number of scan jobs created by Starboard Operator to compare programmatically the number of active scan jobs to the limit (OPERATOR_CONCURRENT_SCAN_JOBS_LIMIT). We'll try to reproduce and see what is going on.

[2021-07-02 22:34] sazo commented on #635
Seeing the same thing in our RKE/rancher cluster. Also following https://aquasecurity.github.io/starboard/v0.10.3/operator/installation/kubectl/
k8s-version: 1.19.

[2021-07-04 13:49] danielpacak commented on #635
@Timoses I started looking into this issue and I don't quite understand what is happening in your cluster:

AFAIK, a pod cannot be even started if the image cannot be pulled from a registry and the pod will get stuck in the `ImagePullBackOff` or `ErrImagePull` status. How come they were terminated by K8s controller manager?

Beyond that, each scan job created to run CIS benchmarks on a K8s node ha

[2021-07-04 19:56] #543 closed

[2021-07-05 09:53] danielpacak commented on #627
It seems that this issue is not related to target namespace or a difference between v0.10.1 and v0.10.3 but the way the operator reads logs. The code panics when we are trying to retrieve logs when scan job is completed by scan job name and container name.

[code]

We do handle errors in `GetLogsByJobAndContainerName()` but we do not recover from panic that might originate from the k8s.io/apimachi

[2021-07-05 22:45] danielpacak commented on #635
Could you share the list nodes and the list of scan jobs that are created in the operator namespace in your cluster please? If possible, please share albo the logs of the operator

[2021-07-06 07:42] Timoses commented on #635
After delete my custom config again and applying starboard operator with `kubectl apply -f https://raw.githubusercontent.com/aquasecurity/starboard/v0.10.3/deploy/static/06-starboard-operator.deployment.yaml` (and editing starboard-operator deployment to use our private registry):

[code]

Growing amount of job pods:
[code]

Here a description of a quite young job pod:
[code]

Here events of a lit

[2021-07-07 14:16] sazo commented on #635
sorry for the delay @danielpacak. But what @Timoses posted is same thing we are seeing.

[2021-07-08 00:59] krol3 commented on #601
I'd like to try it

[2021-07-08 06:02] danielpacak commented on #601
Great @krol3 ! Notice that I opened https://github.com/kubernetes-sigs/wg-policy-prototypes/issues/79 to allow importing wg-policy as Go module. However, Just to try things out we could copy structures defined in https://github.com/kubernetes-sigs/wg-policy-prototypes/blob/master/policy-report/api/v1alpha2/policyreport_types.go into our source code tree and regenerate code as explained in [Generat

[2021-07-08 13:59] krol3 commented on #601
Thnaks @danielpacak , is this POC related to this issue?  https://github.com/kubernetes-sigs/wg-policy-prototypes/issues/57

[2021-07-08 14:09] danielpacak commented on #601
Somehow yes. The main difference though is that we can try it out in Starboard repository very easily without waiting for all discussions to be resolved by WG Policy. On the other hand the intent is to collaborate with the WG folks and share our knowledge and the outcome of this POC.

[2021-07-14 20:13] elek commented on #572
Was there any decision about this @danielpacak?

I think there is a third option. Spark [k8s operator accepts pod templates](https://spark.apache.org/docs/latest/running-on-kubernetes.html#pod-template) which is a custom yaml partially adjusted by the operator itself.

It has the advantage that it's fully customizable: not only the cpu and memory resource limits, but any part can be adjusted (I us

[2021-07-15 09:26] danielpacak commented on #572
We haven't decided yet.

I think that configuring the whole pod template is an interesting idea. Especially, if one day we'd like to merge `scanJob.tolerations`, `scanJob.annotations`, and potentially `scanJob.resources` into one configuration object. What's more, with the current configuration parameters represented as key-value pairs, it's quite challenging to represent structured values such as

[2021-07-15 14:09] schizoid90 opened #637 "Forbidden: seccomp may not be set"
**What steps did you take and what happened:**

I've installed Starboard via Helm and everything seems to work fine except the cisbenchmark job. I am receiving an error about seccomp. There are some other errors regarding PSP but as far as I can tell, these should be fixed.

[code]

**What did you expect to happen:**

Job should run OK

**Anything else you would like to add:**
I'm not sure if ther

[2021-07-15 20:07] elek commented on #572
Having the configuration on generic Starboard level is easier to understand, but IMHO it's more realistic to have a limit per-service bases. It really depends on the exact scanners how many limits/requests should be configured. I am not sure if it's realistic to use one generic limit for all the scanners.

But it would be great to have more inputs from @jeremeb, the original reporter: @jeremeb, ca

[2021-07-15 22:18] danielpacak commented on #572
I agree that configuring resources per service is probably more reasonable and flexible. For example, Trivy will have different resource requirements than Polaris or KubeHunter and it would be nice to configure them separately with sensible defaults. (The defaults for Trivy depend on container images' size and Trivy release. Recent Trivy releases allow scanning Java and Go apps, which requires a b

[2021-07-16 20:30] elek commented on #572
Thanks for the suggestion. I updated the branch with using the suggested keys.

This approach makes the code more simple but I am not sure what are the current compatibility guarantees. With moving defaults to helm/k8s resources:

 1. The helm charts and the pure k8s deployment example should be updated with the same values
 2. Existing starboard setups which are installed without (!) Helm or Kust

[2021-07-21 21:31] kfox1111 commented on #617
What additional info is required?

[2021-07-22 07:35] danielpacak commented on #617
I've update the description and removed the label to mark this issue as ready for development.

[2021-07-22 20:25] kfox1111 commented on #617
Just taking a glance at things, I think this could be handled by building a trivy with the database already in place and disabling the initContainer, that does the download and volume?

[2021-07-23 07:28] danielpacak commented on #617
This is a quick win but how would that fit into existing Starboard plugins ecosystem / architecture? How would you build such and release such custom Trivy image? Would it be part of Starboard or Trivy or 3rd party repo? We strive to not host scanner specific extensions / customisations in this repo to facilitate maintenance. That's why I suggested reusing existing container and just run it in the

[2021-07-23 08:31] #572 closed

[2021-07-25 19:41] travisghansen commented on #627
Pretty sure I've got the same thing going on. If you need further details let me know if I can provide extra info. I've been in a crashloop backoff for a good month and a half now :D

[2021-07-26 17:12] kfox1111 commented on #617
I'm not sure why the Trivy image doesn't already produce a Trivy + up to date db version of the image. The db image would just be an additional layer and would utilize the docker cache well. The Starboard job would just need to be modified not to force pull a new db, but skip it if it notices its already there. Minimal changes on both sides really.

[2021-07-26 17:14] kfox1111 commented on #617
In fact, the job is already trivy specific, as it does call trivy two different ways so it knows some of the internal details of it.

[2021-07-26 19:27] danielpacak commented on #617
Trivy DB is being updated every 6 hours and published to GitHub and public container registries. Trivy binary has completely different lifecycle. Starboard is one of many possible integrations where Trivy is used as vulnerability scanner. Therefore, we keep data (Trivy DB) and logic (Trivy command) separate.

[2021-07-26 20:11] kfox1111 commented on #617
Docker uses a layered structure. If you:
[code]

and publish those images too. only the db layer would change from version to version and would not incur additional overhead over the trivy container it inherits from. That can be built / pushed every 6 hours too.

The really nice thing about it, is if there were multiple instances running on the same node, the cache layer would automatically share

[2021-07-29 22:17] danielpacak commented on #627
:wave: @travisghansen Do you see by any chance what kind of K8s workload is causing this problem? Is it Job or CronJob or all types such as Pod, ReplicaSet, DaemonSeet, etc.?

[2021-07-31 03:53] travisghansen commented on #627
@danielpacak I'm not sure how I would discover that? Give me some tips and I'll see what I can find. In basically every cluster I've installed the operator (~10) in it's sitting a crashloop backoff with this error. This probably isn't helpful but 2 of the clusters I looked at showed statefulset as the most recent log entry and the other showed cronjob (this is the 'starting workers' message).

[2021-08-02 14:38] danielpacak opened #652 "chore(ci): Fail fast by checking if K8s KIND cluster is ready before wer run integration tests"

[2021-08-04 16:22] kfox1111 commented on #298
There's another option. I use tags but immutably. I ensure I never overwrite an immutable tag.

So, perhaps doing the scan at the ReplicaSet level and scanning by tag is fine, but keeping the shasum scanned. and then if you ever see any pods in the ReplicaSet that don't have the same shasum, then you know the immutable tag was mutated and can throw a warning.

[2021-08-04 23:57] kfox1111 opened #665 "KubeBench scanner pod run with excessive permissions"
cis jobs have this in its config:
[code]

The starboard-operator service account has permissions to read every secret in the cluster so that it can setup the scanning properly. Since the cis jobs run on all nodes, this distributes out to all the nodes a secret that can download all the secrets from all the nodes.

The cis jobs should have their own service account with restricted permissions with

[2021-08-05 00:11] yashvardhan-kukreja commented on #298
Hi @danielpacak , is this issue still pending? If yes, I'd like to document the plan of the solution in the google docs link you shared above, as suggested in #587

PS: Sorry for this huge delay. Been swamped since a few months 😅

[2021-08-05 00:13] yashvardhan-kukreja commented on #559
Hi @danielpacak , any ideas or suggestions around the approaches I mentioned above? :)

[2021-08-06 07:18] danielpacak commented on #298
Yes, this solution is still pending and we should start with proposals as this change has huge impact on existing integrations.

[2021-08-06 08:03] danielpacak commented on #665
I believe this discussion is related to #646 . If I understand correctly the idea is to run scanner pods (Trivy, Polaris, Conftest, KubeBench, KubeHunter, etc.) with dedicated service accounts instead of reusing the service account used to run the operator's pod. Let's continue this discussion under #646

[2021-08-06 17:33] kfox1111 commented on #665
Yeah. that discussion looks to be the same. thanks.

[2021-08-06 17:33] #665 closed

[2021-08-16 10:01] ichasco-heytrade commented on #43
Hi!
Is this working correctly?  It doesn't work for me:

[code]

Error:
[code]

Thanks!

[2021-08-17 16:05] danielpacak commented on #43
@ichasco-heytrade from the snippet you shared I cannot tell whether the token is configured properly or not. But make sure that it is stored as the value of the `trivy.githubToken` key in the `starboard-trivy-config` secret in the operator namespace. See [Trivy Settings](https://aquasecurity.github.io/starboard/v0.11.0/integrations/vulnerability-scanners/trivy/#settings) for more details.

[2021-08-18 08:40] ichasco-heytrade commented on #43
Hi @danielpacak, thanks for reply.
No it isn't stored in `starboard-trivy-config`. I don't know why.

The full trivy configuration is:
[code]

[2021-08-18 10:19] danielpacak commented on #43
I guess that what you've shared is values.yaml, which is the default config of the Helm chart. Helm values are transformed into K8s ConfigMap and Secrets objects named `starboard-trivy-config`. See https://github.com/aquasecurity/starboard/blob/main/deploy/helm/templates/config.yaml#L28 for more details.

Apparently we do not support setting `trivy.githubToken` config property via Helm values. You

[2021-08-18 10:28] ichasco-heytrade commented on #43
But didn't this PR fix that?
https://github.com/aquasecurity/starboard/pull/172

Maybe this issue should not be closed until this is implemented?

[2021-08-18 10:35] danielpacak commented on #43
In #172 we defined trivy.githubToken config param and added logic to read it from secret and it's working fine.

In your case we're talking about enhancement to Helm chart installer, which is related but a different story.

[2021-08-18 11:41] ichasco-heytrade commented on #43
A ok understood thanks!

[2021-08-20 10:02] danielpacak commented on #43
@ichasco-heytrade In 6f580c6 we added Helm value to configure GitHub token for Trivy plugin. Once we release it you'll be able to install the operator as follows:

[code]

[2021-08-20 11:10] ichasco-heytrade commented on #43
Perfect, Thank you very much :)

[2021-08-24 09:24] danielpacak commented on #559
We bumped into a similar issue while working on config audit for Roles and ClusterRoles (#644). A Role or ClusterRole may contain special characters such as colon (`:`) that cannot be used as label value. Therefore, we came up with the following fallback mechanism to identify security reports:
1. If the resource name is a valid label value it works as is.
2. However, if the resource name is not va

[2021-08-24 10:49] #559 closed

[2021-08-25 08:50] danielpacak opened #684 "Exclude ConfigMaps used for leader election from config audit"
[code]

[code]

[2021-08-25 14:13] dschunack opened #685 "starboard-trivy-config secret with empty data section"
**What steps did you take and what happened:**
The data section of the starboard-trivy-config secret was empty, due to missing idents.

Helm values

[code]

[code]

**Anything else you would like to add:**

I created a PR to fix the issue.

[2021-08-30 11:33] danielpacak commented on #627
@matzegebbe Thank you for the feedback. I think we should add more logs around the code that's accessing pod logs. Also we could try recovering from panic and ignore it gracefully. I'm afraid that the panic comes from the controller-runtime or client-go package, not the Starboard code.

[2021-08-30 12:59] #631 closed

[2021-09-01 19:44] mladedav opened #697 "Deployment is not supported by Polaris plugin"
**What steps did you take and what happened:**

I tried to call scan with polaris on a deployment as shown in the documentation here https://aquasecurity.github.io/starboard/v0.10.3/cli/getting-started/
[code]

**What did you expect to happen:**

Get a config audit report from Polaris

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

**E

[2021-09-01 20:00] danielpacak commented on #697
👋 @mladedav It's been fixed in 531292e and pre-released in [v0.12.0-rc3](https://github.com/aquasecurity/starboard/releases/tag/v0.12.0-rc3). Please reopen the issue if the problem persists.

[2021-09-01 20:00] #697 closed

[2021-09-01 20:55] mladedav commented on #697
Thank you, you're right. Sorry, I wasn't able to find the original issue.

[2021-09-07 17:04] danielpacak commented on #627
Fixed by #1700a32 and client-go and controller-runtime bump ups. Please reopen if the problem persists.

[2021-09-07 17:04] #627 closed

[2021-09-07 17:31] danielpacak commented on #627
It will be available in v0.12.0 that we are going to release soon (days).

[2021-09-14 18:29] danielpacak commented on #585
I consider it done with the blog post on https://blog.aquasec.com/open-source-contributor-license and https://cla-assistant.io/ configured for all our projects

[2021-09-14 18:29] #585 closed

[2021-09-14 18:38] danielpacak commented on #55
This issue has gone stale but for GitOps we provide Starboard Operator with static YAML, Helm chart, and OLM installers. Feel free to reopen if you want to contribute and have it also done for Starboard CLI.

[2021-09-14 18:38] #55 closed

[2021-09-14 19:07] danielpacak commented on #23
The init command is taking care of creating necessary RBAC objects to use Starboard CLI. In this approach we assume that the user in the current K8s context already has required permissions. Therefore, the rbac command would not be necessary.

[2021-09-14 19:07] #23 closed

[2021-09-14 19:13] danielpacak commented on #39
We've published project documentation on https://aquasecurity.github.io/starboard/v0.11.0/
Under the Integrations menu there are pages that describe each plugin in details, e.g. [Trivy](https://aquasecurity.github.io/starboard/v0.11.0/integrations/vulnerability-scanners/trivy/).

If some information is still missing please elaborate and we'll add it.

[2021-09-14 19:13] #39 closed

[2021-09-14 19:19] kfox1111 commented on #39
I'm not seeing in the updated documentation how to do an airgapped database download, unless thats what the client/server mode is intended to do?

[2021-09-14 19:24] danielpacak commented on #39
This issue wasn't about Trivy in air-gapped environments. It was about documenting requirements and constraints. What you're probably looking for is tracked under #617

[2021-09-14 19:26] kfox1111 commented on #39
ah. got it. sorry for the confusion. thanks.

[2021-09-14 21:40] #601 closed

[2021-09-16 18:10] danielpacak commented on #637
@schizoid90 We're looking into this without any luck in reproduction. Could you provide more information, in particular:
- [ ] In which namespace you installed Starboard Operator?
- [ ] In which namespace are you creating PSP resources and binding?
- [ ] Are you creating two PSP resources named aqua-kube-bench and psp-kube-bench respectively?
- [ ] Did you change the default service account from `

[2021-09-23 09:03] NissesSenap commented on #278
@krol3 have you had any time to look in to this?

[2021-09-23 10:16] NissesSenap opened #719 "Prometheus metrics about amount of security issues"
### Discussed in https://github.com/aquasecurity/starboard/discussions/425

<div type='discussions-op-text'>

<sup>Originally posted by **wuestkamp** March 11, 2021</sup>
Awesome project!
is there a way to get the summaries from the CRDs like this one:
[code]

into Prometheus? I guess I could write a custom app which reads the CRD reports and then converts these into prometheus metrics. Or is ther

[2021-09-23 11:06] wuestkamp commented on #719
I have been using https://github.com/kaidotdev/kube-trivy-exporter for some time now and it works good.
Not sure if this could help with the goal for Starboard.

[2021-09-23 12:29] NissesSenap commented on #719
Thanks for the tip!

I took a quick read of the kube-trivy-exporter and my understanding is that it uses trivy and scans the images for you. It's nice but it's duplicate of what starboard does - the extras features that starboard got.
But if you "only" want vulnerability scanning using trivy it looks like a really good option.

But it looks like good reference when implementing something similar i

[2021-09-28 13:06] henrysachs commented on #537
I know this is kind of bad practice but is there any update on the plans of this? The issue is open since april and I just wanted to know if this is still on the "roadmap". If so what would be the best way to implement this? Maybe i can kind of support right here?

[2021-09-28 15:23] danielpacak commented on #537
Just to update readers on a current status we are working on a few enhancements to vulnerability scanning to make it more efficient. This may change the way we persist VulnerabilityReport instances and impact a lifecycle of each report. On the other hand, such braking changes will be probably introduced behind feature gates. What's more, the mechanism for rescanning could be agnostic to the lifecy

[2021-09-28 15:33] danielpacak commented on #719
👋 @NissesSenap is there any reason why we cannot continue the discussion under #425 ? Now we have two thread to follow.

In general, a GitHub issue would be a finite task with well defined scope so someone can pick it up and implement.

For Prometheus we should first defined schema and uses cases for scraping custom metrics before we write any code. In particular, justify why / whether metrics are

[2021-09-28 15:46] kfox1111 commented on #537
+1

Is there a process that we can use to help? Something similar to a KEP? Then we could comment on the general design and help enhance it.

[2021-09-28 16:03] NissesSenap commented on #719
Ahh sorry about that. I guess the main reason is that the discussion thread is `Marked as answer` so i guess the discussion was over and it was okay to come with a implementation and we would continue the discussion in the PR.
I will close the issue and jump back to #425

[2021-09-28 16:03] #719 closed

[2021-09-28 16:24] danielpacak commented on #537
We haven't introduced any formal proposal workflow at this stage such as KEP. We can transfer this issue to discussion and start from there. Public GDoc with a few diagrams would work as well.

I know we weren't consistent but I'd prefer discussion design and idea brainstorming under GitHub discussion. Issues are good for bugs and finite well defined tasks. Otherwise we'll keep them opened for way

[2021-09-28 16:33] kfox1111 commented on #537
GDoc would allow for inline comments, which may be helpful for quicker iteration. Maybe we work there for a little while and then bring it to discussions?

[2021-10-04 15:11] KashifSaadat opened #732 "Fail to init - 500 server error when creating starboard-trivy-config ConfigMap"
**What steps did you take and what happened:**

Run the command: `starboard init`

Response: `error: initializing Trivy plugin: an error on the server ("") has prevented the request from succeeding (post configmaps)`

When running with increased log level verbosity, the following can be seen:

[code]

Resources up until this point were created successfully, such as the api resources, namespace, st

[2021-10-04 20:08] danielpacak commented on #732
Internal Server Error indicates that there's some kind of a problem with K8s API server. I don't think it's caused by Starboard CLI in any way. Can you confirm that K8s API server pod is healthy and check its logs?

[code]

[2021-10-04 20:34] #652 closed

[2021-10-05 11:16] KashifSaadat commented on #732
Hi @danielpacak. The Kube API Server is healthy and I can create resources without issue. Oddly there are no related error logs for the EKS apiserver, which I would have expected to see given it's a 500 Server Error response. You can see below that other resources were created successfully:

[code]

The request body shown in the logs for the trivy configmap looks a little out of the ordinary, in c

[2021-10-06 15:39] danielpacak opened #735 "Upgrade Trivy to v0.20"
Trivy v0.20 introduced new JSON schema for vulnerability report. Therefore, we should parse Trivy JSON output taking into account Trivy's version.

[2021-10-08 08:18] danielpacak opened #737 "[CLI] Modify starboard get vulnerabilityreports command to be compatible with kubectl get vulnerabilityreports"
Currently the starboard get vulnerabilityreports command is not compatible with kubectl get vulnerabilityreports command. For example, it returns a list of VulnerabilityReport items in YAML, whereas it should just list instances with additional printer columns:

[code]

vs

[code]

[2021-10-08 11:05] #735 closed

[2021-10-11 15:02] danielpacak commented on #537
GDoc for getting started would do the job. However, for other design tasks we decided (last week) to host them under /docs/design

[2021-10-11 15:52] danielpacak commented on #732
Just for the record, I cannot reproduce this error on my EKS cluster.

[code]

[code]

[code]

[code]

[code]

[code]

[2021-10-12 03:52] fengshunli opened #744 "upgrade trivy 0.20.0 scan error"
![image](https://user-images.githubusercontent.com/18587688/136888298-a0898d66-6401-461d-8903-0d2821b4b8e3.png)

[2021-10-12 07:23] danielpacak commented on #635
For the record, I've spun up RKE cluster and deployed Starboard Operator v0.10.3 and the CISKubeBenchReport was created without any issues.

[code]

[code]

[code]

[2021-10-13 09:56] danielpacak opened #747 "Upgrade kube-bench from v0.6.3 to v0.6.5"
At the same time we should revisit volume mounts on a scan job created by starboard.

[2021-10-14 14:56] dschunack opened #749 "Add nodeSelector for Scan Jobs"
**What steps did you take and what happened:**

At the moment is it not possible to add a NodeSelector to run the scan jobs only on Linux Workers.
We have also Windows workers and without a NodeSelector like this:

[code]
The PODs are placed on a Windows Worker node instead of a Linux Worker. This will fail and PODs are hang in the Creating State for hours. It's not possible at the moment to run L

[2021-10-14 15:41] krol3 commented on #262
@danielpacak what will be the steps? - Adding a kubehunterReport in pkg/operator/controller/ ?

[2021-10-15 12:06] danielpacak commented on #262
Before we get into implementation we should identify:

* [ ] What problems are we solving by integrating KubeHunter?
* [ ] What is the lifecycle of a KubeHunterReport CR?
* [ ] Isn't the CLI integration enough?
* [ ] How often do we scan / rescan?
* [ ] Any other considerations?

Based on the initial evaluation we should be able to decide whether a K8s controller patter is suitable for the integra

[2021-10-15 15:39] Harisanthosh opened #751 "Starboard operator crashes with panic: runtime error: index out of range [1] with length 1"
**What steps did you take and what happened:**
Hi, I ran across this wonderful project recently and wanted to onboard it for one of my projects. I have tried installing Starboard operator with both Helm and Kubectl with custom CRDs. The scanning works for few seconds and then my kubernetes cluster controller crashes with panic runtime error and end up in CrashLoopBackOff state.

![image](https://u

[2021-10-19 15:22] danielpacak commented on #751
Notice that running the Starboard Operator (or any K8s operator) with multiple replicase requires additional consideration. In particular enabling leader election so there's only one active replica in your cluster.

We should document this one better,  but to get started see the description of the `OPERATOR_LEADER_ELECTION_ENABLED` variable in the [Operator Configuration](https://aquasecurity.gith

[2021-10-21 09:25] #409 closed

[2021-10-22 07:24] #751 closed, assigned to danielpacak

[2021-10-28 05:37] vincent-pli opened #780 "Could the operator ignore itself when "OPERATOR_NAMESPACE" and "OPERATOR_TARGET_NAMESPACES" is the same one"
### Discussed in https://github.com/aquasecurity/starboard/discussions/777

<div type='discussions-op-text'>

<sup>Originally posted by **vincent-pli** October 27, 2021</sup>
I try to install `startboard operator` with the same `OPERATOR_NAMESPACE` and `OPERATOR_TARGET_NAMESPACES`, the `operator` scan itself and generate the report CRD, could we enhance it to ignore itself when in such scenario.</

[2021-10-28 07:49] #749 closed, assigned to danielpacak

[2021-10-28 08:16] #780 closed, assigned to nobody

[2021-11-02 08:24] vincent-pli opened #793 "Starboard cli embedded into in pod, very slow when executed"
**What steps did you take and what happened:**
I embed `starboard` cli to my image and will run it in `pod`, everything could work but I found it's very slow, cost about several minutes, that's abnormal:
[code]

Seems, it's try many url one by one, could I fix it, thanks

[A clear and concise description of what the bug is, and what commands you ran.]

**What did you expect to happen:**

**Anythin

[2021-11-02 08:25] vincent-pli commented on #793
@danielpacak

[2021-11-02 15:36] fredgate opened #794 "Configure Conftest policies with the Helm chart"
**What steps did you take and what happened:**

I installed the starboard operator with Helm to use conftest (instead of polaris):
[code]

The chart then installs the config map `starboard-conftest-config` which contains keys `conftest.imageRef` and `conftest.resources.*.*`.
https://github.com/aquasecurity/starboard/blob/467c2eb72df9f33da6c7688f47fdb064e4e0b6a2/deploy/helm/templates/config.yaml#L9

[2021-11-03 10:51] danielpacak commented on #793
Please provide Starboard version info and give us an idea of how many security reports (CRD instances) you're trying to export to HTML? Client-side throttling is part of client-go / K8s API Server, not Starboard.

[2021-11-03 11:07] danielpacak commented on #794
Thanks for the feedback @fredgate .

Regarding the second option you mentioned, allow loading policies from the `starboard-contest-policies` ConfigMap, how is that different from creating the `starboard-conftest-config` ConfigMap with all policies before you run the `helm install` command? The operator will not override existing configuration object if it's present.

I was also wondering if we cou

[2021-11-03 14:37] fredgate commented on #794
We can't create the config map `starboard-conftest-config` before to install the Helm release of the starboard operator chart, else the release will fail because (by design) Helm refuses to modify a resource that has not been installed by itself.
A second config map (like `starboard-conftest-policies`) which would be optional and not installed by the starboard chart, could solve this issue. This c

[2021-11-09 08:00] fredgate commented on #794
I manage several Kubernetes clusters; also for that I use a GitOps CD pipeline (Flux Toolkit) which ensures the continuous reconciliation and the automatic update of the releases when new versions of the charts are available.
I currently cannot use conftest check using conftest, yet I am very interested in starboard. If a solution that works well with a CD pipeline can be found, I can participate

[2021-11-10 11:45] #794 closed

[2021-11-10 20:15] danielpacak commented on #794
👋 @fredgate We have other integrations that rely on the current implementation of the Conftest config objects. Therefore, for v0.13.0 we came up with the following solution that might be suitable for what you are trying to achieve.

We'll be more than happy to discuss further and improve if needed it in the upcoming releases.

## Conftest policies created separately

[code]
[code]
[code]

## Conft

[2021-11-11 00:12] kfox1111 opened #808 "Reconciler fast workload issue."
When you have short running jobs on your cluster such as gitlab runner based jobs, it is entirely possible that the job can be created, run, and get destroyed before the vulnerabilityreport job finishes executing. In this case, the starboard reconciler breaks because it can't find the pod anymore.

[code]

**Environment:**

- Starboard version (use `starboard version`):
0.12.0

- Kubernetes versio

[2021-11-19 13:55] danielpacak opened #817 "Write proposal to schedule vulnerability scan jobs in the same namespace as scanned workload"

[2021-11-19 13:57] danielpacak opened #818 "Write proposal to use Trivy file system scanner"
See the initial POC described in #692

Additional requirements (/cc @jerbia):
1. Whether to run the scanning pod on the same host (or not) should be configurable
2.  If scanning pod is not scheduled on the same host, then the image pull policy should allow pulling the image

[2021-11-23 13:27] fredgate commented on #794
The new flag `conftest.createConfig` is a good alternative. I tested it; it works fine. It meets my need.

[2021-11-29 00:14] jlamande opened #831 "chore: add support for ARM architectures"
**What steps did you take and what happened:**

Currently deploying the starboard operator on ARM instances is not working (e.g. Graviton AWS EC2)

On start :
[code]

This error is a known symptom of not supported arm architecture.

**What did you expect to happen:**

Operator starting.

**Anything else you would like to add:**

Blocked on operator deployment, I have not checked on tools used by S

[2021-11-30 10:42] avgkoster opened #835 "Error scanning images from private registries using imagePullSecrets"
What steps did you take and what happened:

I have a specific namespace, for example neuvector, it has imagepullSecret: regsecret, which contains credentials from the private registry.
Starboard cannot scan it and gives an error about an empty namespace
Please tell me what I'm doing wrong?
2021-11-30T06:55:52.109Z ERROR controller.replicaset Reconciler error {"reconciler group": "apps", "reconcile

[2021-12-01 08:41] danielpacak opened #836 "Write proposal to check configuration of any K8s resource"
Starboard Operator can discover and check configuration of a predefined set of K8s resources. (In version v0.13 these are K8s workloads, ConfigMaps, Services, [Cluster]Roles, [Cluster]RoleBindings, and CustomResourceDefinitions.)

On the other hand, with Conftest plugin, we allow defining generic policies for any K8s resource. Therefore, it should be possible to add new K8s resources without recom

[2021-12-01 10:03] danielpacak commented on #835
:wave: @avgkoster I can reproduce this error in my environment. It's a regression. We'll try to fix it and release in v0.13.1 . Thank you for reporting and really sorry for inconvenience

[2021-12-01 13:24] #835 closed

[2021-12-01 17:04] danielpacak commented on #835
@avgkoster The fix has been released in https://github.com/aquasecurity/starboard/releases/tag/v0.13.1

[2021-12-02 12:17] jlamande commented on #831
Hi @danielpacak

I created a PR for adding ARM support.
_Hard to validate as it depends on github actions and releases._

[2021-12-13 10:48] avgkoster opened #847 "Scanning after updating the Trivy database"
Hi, please tell me, if the Trivy database has been updated, will all deployments be scanned again?

[2021-12-13 11:34] danielpacak commented on #847
Nope. Currently such mechanism is not implemented. One way to rescan workloads is to delete VulnerabilityReport instances, which will trigger rescan.

[2021-12-15 10:46] deven0t opened #855 "Starboard Vulnerability scan fails to process scan job when auth is missing in registry secret"
If user creates a registry secret without auth mentioned in it, then starboard fails with error
`error: reading .dockerconfigjson field of "xx/xx-registry" secret: expected username and password concatenated with a colon (:)`
even though registry secret has username and password specified in dockerconfigjson, auth part is missing in the detail.
eg:
[code]
We can add additional logic to consider us

[2021-12-15 17:44] DaemonDude23 opened #856 "Operator CrashLoop in EKS 1.21"
**What steps did you take and what happened:**

Deployed Helm Chart version `0.8.1` with default values, with starboard operator version `0.13.0` and `0.13.1`, among a few previous versions.
On any AWS EKS cluster I try to run the operator on that is version `1.21`, the operator CrashLoops and throws this error:
[code]

**What did you expect to happen:**

The Operator to start, become healthy, and

[2021-12-16 13:11] #847 closed

[2021-12-16 14:09] jnauska opened #857 "Support Service Account Keys defined in ImagePullSecrets"
**What steps did you take and what happened:**

We're using Google Artifact Registry to host our containers.

We have configured the access according to the Google Documentation: https://cloud.google.com/artifact-registry/docs/access-control

So we're using Service Account keys in our ImagePullSecrets. ImagePullSecrets would look like this (SA_KEY is encoded):

[code]

Decoded SA_KEY would look li

[2021-12-17 08:51] danielpacak commented on #857
How is this issue different from #279 ? In the current implementation Starboard reads imagePullSecrets to get username and password that are eventually passed to Trivy as `TRIVY_USERNAME` and `TRIVY_PASSWORD` environment variables. That's the only officially supported authentication scheme.

For GCE, ECR, and other managed registries more work as to be done.

[2021-12-17 08:56] jnauska commented on #857
I guess that purpose of the issue is the same, just that the description of the issue seemed that there was a working method, but there was support documentation needed.

[2021-12-17 09:17] danielpacak commented on #857
I see what you mean now. The title of this issue confused me. So basically we're talking about a bug in parsing passwords from imagePullSecrets that may contain the colon (`:`) characters. If we fix the parsing logic would that resolve your issue @jnauska ?

[2021-12-17 10:57] jnauska commented on #857
I tested with trivy (0.21.2) binary that it works:

[code]

[2021-12-17 11:10] jnauska commented on #857
I tested with trivy (0.21.2) binary that it works:

[code]

[2021-12-17 11:34] jnauska commented on #857
We got it working with the following ImagePullSecret setup:

[code]

So the issue is actually that starboard doesn't support username:password, but expects the username:password to be within auth.

So I guess this can be closed, though it would be nice to support username:password aswell w/o auth. And maybe add documentation that SA KEY's can be used with this kind of ImagePullSecret.

Our ImagePu

[2021-12-17 12:15] danielpacak commented on #857
Interesting. We've discovered the same limitation this week and reported in #855 . To confirm my understanding #855 will solve you problem as well.

[2021-12-17 14:26] danielpacak commented on #793
We cannot troubleshoot without more details why Kubernetes API Server / client-go is throttling requests. Especially for requests that are not managed by Starboard.

[2021-12-17 14:26] #793 closed

[2021-12-17 14:27] #855 closed

[2021-12-17 14:27] #857 closed

[2021-12-19 09:53] NissesSenap commented on #537
Created a initial PR on how we could solve this issue: https://github.com/aquasecurity/starboard/pull/863
Hopefully it's a good base for a discussion.

[2021-12-19 21:52] fredgate commented on #836
I started looking at how to support any resource with conftest. I have not yet looked into RBAC because I do not yet have a sufficient vision of the requirement.

The conftest plugin is capable of:
- to say if it has something to do for any kind (see function `IsApplicable`: https://github.com/aquasecurity/starboard/blob/main/pkg/plugin/conftest/plugin. go#L203)
- find the policies of any kind (se

[2021-12-22 16:47] danielpacak opened #871 "Handle FailedCreate events associated with scan jobs"
**What steps did you take and what happened:**

Deploy Starboard Operator in an environment where scan pod cannot be created and its reported as event with FailedCreate reason.

[code]

**What did you expect to happen:**

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Starboard version (use `starboard version`):
- K

[2021-12-23 09:41] danielpacak opened #873 "Ignore parsing logs of scan jobs have been deleted"
In the configauditreports controller we should ignore scan jobs that are cached but had been deleted from etcd so we cannot parse their logs. Currently we return an error, which is causing retry, but retrying does not make much sense in this case.

https://github.com/aquasecurity/starboard/blob/v0.13.0/pkg/operator/controller/configauditreport.go#L406

[2022-01-03 12:00] RSE132 opened #880 "Starboard operator goes is crash-loop and then it never starts."
**What steps did you take and what happened:**

Starboard operator goes is crash-loop and then it never starts.

`I0103 11:50:14.609297       1 trace.go:205] Trace[776753496]: "Reflector ListAndWatch" name:pkg/mod/k8s.io/client-go@v0.22.4/tools/cache/reflector.go:167 (03-Jan-2022 11:49:14.062) (total time: 60546ms):
Trace[776753496]: [1m0.546384684s] [1m0.546384684s] END
E0103 11:50:14.609346

[2022-01-03 14:41] danielpacak commented on #880
From these logs it could be that something is wrong with connection to Kubernetes API server. Could you confirm which K8s platform is it? Upstream Kubernetes or managed cluster such as OpenShift / EKS? Please specify the correct version of Starboard Operator that you deployed, installations steps and any non-default configuration settings. (11.3 is not a valid version.) It is also useful for troub

[2022-01-03 14:47] danielpacak opened #884 "docs: write troubleshooting checklist for Starboard Operator"
There's always the same procedure to figure out why Starboard Operator is failing. Usually it allows us to narrow down the root cause to a bug in code or configuration / platform issue. We should have this documented.

[2022-01-05 18:17] #18 closed, assigned to nobody

[2022-01-05 18:28] danielpacak commented on #468
Closing as Starboard only supports scanning K8s workloads that run private container images with imagePullSecrets. ECR and other managed registries typically authorize service accounts or cluster nodes (with custom annotations or other means) to pull down images without explicitly creating imagPullSecrets.

To scan any type of registry without extensive configuration or permissions we are consider

[2022-01-05 18:28] #468 closed

[2022-01-06 00:03] krol3 commented on #460
@danielpacak  with this PR we are testing the helm chart. https://github.com/aquasecurity/starboard/pull/829
any improvement for this current issue could we do ?

[2022-01-06 10:28] Arabus opened #888 "starboard uses deprecated trivy cmd invocation"
**What steps did you take and what happened:**

Deploy starboard operator via helm with value `trivy.imageRef: docker.io/aquasec/trivy:0.22.0`
Run `kubectl log scan-vulnerabilityreport-7bdd6fbffb-47ks9`
Get `2022-01-06T09:22:57.547Z        WARN    The root command will be removed. Please migrate to 'trivy image' command. See https://github.com/aquasecurity/trivy/discussions/1515`

**What did you e

[2022-01-06 14:10] danielpacak commented on #460
Since we have already integrated Helm chart tests in the PR validation workflow in 8f637cfd5c9dd64f56a2ab8e0ee81cc85c174b7c we can close this issue.

If we want to further improve we could do that directly with a new PR or discuss in a separate thread.